@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

  body{font-family: Noto Sans KR, Malgun Gothic, -apple-system, Segoe UI, Roboto, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
      }
  .border {
      border: 1px solid #fafafa;;
  }
  .center {
      margin: 0 auto;
  }
  * {
      box-sizing: border-box;
  }
  p{
      margin: 0;
      font-size: 12px;
  }
  a {
      text-decoration-line: none;
      }
h2 {
    margin: 0;
}
.body{
  background-color: #f9f9f9;
}
.header-total{
  opacity: 1;
  transition: opacity .3s ease-in;
  border-bottom: none;
  height: 4.5rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1020;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #323232;
  text-align: left;
 }
 .header-inner{
  border-bottom: none;
  height: 4.5rem;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
 }
 .header-section1{
  display: block;
 }
 .header-div1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60.625rem;
  height: 100%;
  text-align: center;
 }
 .header-div1-1{
  display: flex;
  align-items: center;
 }
 .header-div1-1-logo{
  margin-right: 1.875rem;
 }
 .header-logo{
  height: 1.6875rem;
  vertical-align: middle;
 }
 .header-nav{
  display: block;
 }
 .header-nav-ul{
  display: flex;
  margin: 0;
 }
 .header-nav-li{
  margin-left: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  font-weight: 500;
 }
 .header-nav-li-span{
  font-weight: 500;
  line-height: 1.5;
  font-size: 1rem;
 }
 .header-nav-li1{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 1.125rem;
  font-weight: 500;
 }
 .right-section{
  justify-content: flex-end;
  display: flex;
  align-items: center;
 }
 .right-section-nav{
  display: block;
 }
 .right-section-nav-ul{
  display: flex;
  margin: 0;
 }
 .right-section-nav-li{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 0;
 }
 .right-section-nav-li-span{
  font-weight: 400;
  line-height: 1.5;
  font-size: .875rem;
  color: #323232;
 }
 .right-section-nav-li1{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}
.btn-signup{
  width: 5rem;
  padding: .40625rem 0;
  font-size: .875rem;
  border-radius: 6px;
  margin-left: 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: opacity .2s ease-in-out;
  color: #fff;
  background-color: #00c7ae;
  border-color: #00c7ae;
  border: none;
}
.btn-signup:hover{
  color: #fff;
  background-color: #00a18d;
  border-color: #009481;
}
.btn-a{
  color: inherit;
  display: block;
  line-height: inherit;
  font-weight: 500;
  font-size: .875rem;
}
.app{
  opacity: 1;
  height: 100%;
  position: relative;
  flex-grow: 1;
  transition: opacity .3s ease-in;
}
.app-body{
  width: auto;
  max-width: 62.5rem;
  padding-right: .9375rem;
  padding-left: .9375rem;
  margin-right: auto;
  margin-left: auto;
}
.app-body-form{
  max-width: 37.5rem;
  padding: 2.5rem;
  margin: 3.125rem auto 7.6875rem;
  border: .0625rem solid #f2f2f2;
  border-radius: 8px;
  background: #fff;
  text-size-adjust: 100%;
}
.app-body-progress{
  padding: 0;
  position: relative;
  display: flex;
  gap: .75rem;
  align-items: center;
}
.app-body-progress-inner1{
  border-radius: .25rem;
  flex-grow: 1;
  height: .25rem;
  background-color: #f2f2f2;
  display: flex;
  overflow: hidden;
}
.app-body-progress-inner2{
  width: 50%;
  background-color: #00c7ae;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  transition: width .6s ease;
  display: flex;
  overflow: hidden;
}
.app-body-progress-font{
  text-align: center;
  font-size: .75rem;
  color: #00c7ae;
  font-weight: 500;
  line-height: normal;
}
.chk1{
  border-color: #00c7ae;
  box-shadow: rgb(0, 199, 174) 0px 0px 10px;
}
.chk2{
  border-color: #fa5963;
}
.active{
  color: #fff;
  background-color: #00c7ae;
}
.body-main{
  width: 100%;
}
.body-main-header-font{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
  color: #351b1b;
  text-align: center;
  letter-spacing: -.04375rem;
}
.select-box{
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.select-box-list{
  border-radius: 0;
  padding: .75rem 1rem;
  color: #4d4d4d;
  background: #fff;
  border-color: #f2f2f2;
  position: relative;
  display: block;
  border: .0625rem solid rgba(0, 0, 0, .125);
}
.check-box{
  padding: .625rem 0;
  margin: 0;
}
.custom-check{
  padding-left: 0;
  position: relative;
  display: block;
  min-height: 1.5rem;
}
.custom-control-input{
  width: 1.25rem;
  height: 1.25rem;
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
  overflow: visible;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.custom-label {
  position: relative;
  display: inline-block;
  padding-left: 2rem; /* 텍스트를 아이콘 오른쪽으로 이동 */
  line-height: 1.5;
  cursor: pointer;
}

.custom-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #e1e1e1;
  border: none;
  border-radius: 2px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiNFMUUxRTEiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+);
  background-position: center;
  width: 1.25rem;
  height: 1.25rem;
  padding: .1875rem;
  display: block;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  padding: .1875rem;
  display: block;
}
 .custom-label[aria-invalid="true"]::before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiNFMUUxRTEiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+');
  }

  .custom-label[aria-invalid="false"]::before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiMwMEM3QUUiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+');
  }
  .body1-main{
    width: 100%;
  }
  .body1-main-header-font{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal;
    color: #351b1b;
    text-align: center;
    letter-spacing: -.04375rem;
  }
  .select1-box{
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
  .select1-box-list{
    border-radius: 0;
    padding: .75rem 1rem;
    color: #4d4d4d;
    background: #fff;
    border-color: #f2f2f2;
    position: relative;
    display: block;
    border: .0625rem solid rgba(0, 0, 0, .125);
  }
  .check1-box{
    padding: .625rem 0;
    margin: 0;
  }
  .custom1-check{
    padding-left: 0;
    position: relative;
    display: block;
    min-height: 1.5rem;
  }
  .custom1-control-input{
    width: 1.25rem;
    height: 1.25rem;
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 0;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  .custom1-label {
    position: relative;
    display: inline-block;
    padding-left: 2rem; /* 텍스트를 아이콘 오른쪽으로 이동 */
    line-height: 1.5;
    cursor: pointer;
  }
  
  .custom1-label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #e1e1e1;
    border: none;
    border-radius: 2px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiNFMUUxRTEiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+);
    background-position: center;
    width: 1.25rem;
    height: 1.25rem;
    padding: .1875rem;
    display: block;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .custom1-label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    padding: .1875rem;
    display: block;
  }
   .custom1-label[aria-invalid="true"]::before {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiNFMUUxRTEiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+');
    }
  
    .custom1-label[aria-invalid="false"]::before {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IiMwMEM3QUUiIHJ4PSIyIi8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgOS4yMTlMOC4zIDEyLjVsNS44NjctNS44MzMiLz48L2c+PC9zdmc+');
    }
  #footer1-outter{
    width:1920px;
    height:74px;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 3;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
    padding: .375rem 0;
    border: .0625rem solid #f2f2f2;
    background-color: #fff;
  }
  #footer1-button-outter{
  width:600px;
  height:60px;
  width: 37.5rem;
  justify-content: flex-end;
  display: inline-flex;
  flex-direction: row;
  padding: 0 2rem 0 2.5rem;
  align-items: center;
  }
  #footer1-button1-outter{
  width:132px;
  height:60px;
  padding: .375rem;
  text-align: center;
  }
  #footer1-button1{
  width:120px;
  height:48px;
  font-weight: 500;
  color: #00c7ae;
  text-align: center;
  border: .0625rem solid transparent;
  padding: .6875rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  user-select: none;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  margin-left: 140px;
  }
  #footer1-button1:hover{
  color: #fff;
  background-color: #00c7ae;
  border-color: #00c7ae;
  }
  #footer1-button2-outter{
  width:132px;
  height:60px;
  padding: .375rem;
  text-align: center;
  }
  #footer1-button2{
  width:120px;
  height:48px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border: .0625rem solid transparent;
  padding: .6875rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  user-select: none;
  background-color: #00c7ae;
  border-color: #00c7ae;
  margin-left: 10px;
  }
  #footer1-button2:hover{
  color: #fff;
  background-color: #00a18d;
  border-color: #009481;
  } 
#footer-outter{
  width:1920px;
  height:74px;
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 3;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
  padding: .375rem 0;
  border: .0625rem solid #f2f2f2;
  background-color: #fff;
}
#footer-button-outter{
width:600px;
height:60px;
width: 37.5rem;
justify-content: flex-end;
display: inline-flex;
flex-direction: row;
padding: 0 2rem 0 2.5rem;
align-items: center;
}
#footer-button1-outter{
width:132px;
height:60px;
padding: .375rem;
text-align: center;
}
#footer-button1{
width:120px;
height:48px;
font-weight: 500;
color: #00c7ae;
text-align: center;
border: .0625rem solid transparent;
padding: .6875rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
cursor: pointer;
user-select: none;
border: 1px solid #e1e1e1;
background-color: #fff;
margin-left: 140px;
}
#footer-button1:hover{
color: #fff;
background-color: #00c7ae;
border-color: #00c7ae;
}
#footer-button2-outter{
width:132px;
height:60px;
padding: .375rem;
text-align: center;
}
#footer-button2{
width:120px;
height:48px;
font-weight: 500;
color: #fff;
text-align: center;
border: .0625rem solid transparent;
padding: .6875rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
cursor: pointer;
user-select: none;
background-color: #00c7ae;
border-color: #00c7ae;
margin-left: 10px;
}
#footer-button2:hover{
color: #fff;
background-color: #00a18d;
border-color: #009481;
}
.body2-main{
  width: 100%;
}
.body2-main-header-font{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
  color: #351b1b;
  text-align: center;
  letter-spacing: -.04375rem;
}
.step-body{
  background-color: #fff;
}
.step-body-name-outter{
  margin-bottom: 0;
}
.step-body-name{
  margin-bottom: .375rem;
  font-size: 1rem;
  font-weight: 500;
  color: #4d4d4d;
  text-align: left;
}
.step-body-name-input{
  padding: .75rem;
  border-color: #e1e1e1;
  background-image: none;
  display: block;
  width: 100%;
  height: calc(1.5em + 1.5rem);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #323232;
  background-color: #fff;
  background-clip: padding-box;
  border: .0625rem solid #e1e1e1;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  overflow: visible;
  margin-top: 0.375rem;
}
.step-body-name-input::-webkit-input-placeholder{
  font-size: 1rem;
  font-weight: 400;
  color : #ccc;
}
.step-body-name-note{
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #fa5963;
}
.step-body-name-note1{
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #00c7ae;
}
.step-body-name-note-font{
  font-size: .875rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.step-body-name-note-font1{
  font-size: .875rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.prevent-callout-wrap{
  margin-bottom: 1.5rem;
}
.prevent-callout-wrap-inner{
  display: flex;
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 8px;
}
.prevent-callout-wrap-font{
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #323232;
  text-align: left;
}
.gender{
  position: relative;
  margin-bottom: 1.5rem;
}
.gender-label-font{
  margin-bottom: .375rem;
  font-size: 1rem;
  font-weight: 500;
  color: #4d4d4d;
  text-align: left;
}
.gender-radio{
  display: flex;
  margin: 0 -.3125rem;
}
.gender-radio-outter1{
  flex-basis: 50%;
  padding: .3125rem;
}
.gender-radio-outter2{
  flex-basis: 50%;
  padding: .3125rem;
}
.gender-radio-inner1{
  width: 100%;
  padding: .75rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border: .0625rem solid #e1e1e1;
  border-radius: 4px;
}
.gender-radio-inner2{
  width: 100%;
  padding: .75rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border: .0625rem solid #e1e1e1;
  border-radius: 4px;
}
.email{
  position: relative;
  margin-bottom: 1.5rem;
}
.email-label-font{
  margin-bottom: .375rem;
  font-size: 1rem;
  font-weight: 500;
  color: #4d4d4d;
  text-align: left;
}
.email-input{
  padding: .75rem;
  border-color: #e1e1e1;
  background-image: none;
  display: block;
  width: 100%;
  height: calc(1.5em + 1.5rem);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #323232;
  background-color: #fff;
  background-clip: padding-box;
  border: .0625rem solid #e1e1e1;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  overflow: visible;
  margin-top: 0.375rem;
}
.email-input::-webkit-input-placeholder{
  font-size: 1rem;
  font-weight: 400;
  color : #ccc;
}
.email-input-note{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #fa5963;
}
.email-input-note-font{
  font-size: .875rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #fa5963;
}
.pw{
  position: relative;
  margin-bottom: 1.5rem;
}
.pw-label-font{
  margin-bottom: .375rem;
  font-size: 1rem;
  font-weight: 500;
  color: #4d4d4d;
  text-align: left;
}
.pw-input{
  padding: .75rem;
  border-color: #e1e1e1;
  background-image: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #323232;
  background-color: #fff;
  background-clip: padding-box;
  border: .0625rem solid #e1e1e1;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  display: block;
  width: 100%;
  height: calc(1.5em + 1.5rem);
  margin-top: .375rem;
}
.pw-input::-webkit-input-placeholder{
  font-size: 1rem;
  font-weight: 400;
  color : #ccc;
}
.pw-input-note{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #fa5963;
}
.pw-input-note-font{
  font-size: .875rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #fa5963;
}
.phone-input-note{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #fa5963;
}
.phone-input-note-font{
  font-size: .875rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #fa5963;
}
.phone{
  margin-bottom: 1.5rem;
  position: relative;
}
.phone-fieldset{
  margin-bottom: 1rem;
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.phone-label-font{
  font-size: 1rem;
  font-weight: 500;
  color: #323232;
  margin: 0;
  padding-bottom: .375rem;
  display: inline-block;
}
.phone-input-outter{
  align-items: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.phone-input{
  border: .0625rem solid #e1e1e1;
  border-radius: .25rem;
  padding: .75rem 5.75rem .75rem .75rem;
  background-image: none;
  position: relative;
  flex: 1 1 0%;
  min-width: 0;
  margin-bottom: 0;
  display: block;
  width: 100%;
  height: calc(1.5em + 1.5rem);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #323232;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.phone-input::-webkit-input-placeholder{
  font-size: 1rem;
  font-weight: 400;
  color : #ccc;
}
.phone-button-outter{
  position: absolute;
  top: .625rem;
  right: .625rem;
  margin-left: -.0625rem;
  display: flex;
}
.phone-button{
  background-color: #e1e1e1;
  pointer-events: none;
  width: 4.5rem;
  height: 1.75rem;
  font-size: .875rem;
  border: none;
  border-radius: .25rem;
  padding: .1875rem .625rem;
  color: #fff;
  outline: none;
  z-index: 3;
  text-transform: none;
  overflow: visible;
}
.check2-box{
  margin-top: 1.5rem;
}
.check2-box-section{
  display: block;
}
.section-div1{
  padding-top: 1rem;
  padding-right: .5rem;
}
.section-div1-all-check{
  padding: 0;
  height: 1.5rem;
  position: relative;
  display: block;
  min-height: 1.5rem;
}
.custom2-check{
  width: 1.25rem;
  height: 1.25rem;
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
  overflow: visible;
}
.checkbox2-label {
  cursor: pointer;
  width: 510px;
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  display: inline-block;
}
.checkbox2-label::before {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMCAzLjVINGEuNS41IDAgMDAtLjUuNXYxNmEuNS41IDAgMDAuNS41aDE2YS41LjUgMCAwMC41LS41VjRhLjUuNSAwIDAwLS41LS41ek00IDJhMiAyIDAgMDAtMiAydjE2YTIgMiAwIDAwMiAyaDE2YTIgMiAwIDAwMi0yVjRhMiAyIDAgMDAtMi0ySDR6IiBmaWxsPSIjRTFFMUUxIi8+PC9zdmc+);
  background-position: right;
  width: 1.5rem;
  height: 1.5rem;
  right: 0;
  left: unset;
  top: 0;
  padding: .1875rem;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  position: absolute;
  display: block;
  content: "";
  cursor: pointer;
}
.checkbox2-label::after {
  width: 1.5rem;
  height: 1.5rem;
  right: 0;
  left: unset;
  top: 0;
  padding: .1875rem;
  position: absolute;
  display: block;
  content: "";
  cursor: pointer;
}
.checkbox2-label-font{
  display: block;
  margin-top: -.0625rem;
  font-weight: 500;
  font-size: 1rem;
  color: #323232;
  cursor: pointer;
  line-height: 1.5;
  text-align: left;
  padding-right: .5rem;
}
.check2-inner{
  height: 100%;
  min-height: 9rem;
  margin-top: .9375rem;
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
  padding-right: .5rem;
  border-top: .0625rem solid #f2f2f2;
}
.check2-inner1-ul{
  margin: 0;
  padding: 0;
}
.check2-inner1-li{
  display: flex;
  height: 1.25rem;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.check2-inner1-li-div1{
  height: 100%;
  min-height: unset;
  cursor: pointer;
  flex: auto;
  padding: 0;
  position: relative;
  display: block;
}
.custon2-input{
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
}
.check2-inner1-li-label{
  cursor: pointer;
  width: 100%;
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  display: inline-block;
}
.check2-inner1-li-label::before {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMCAzLjVINGEuNS41IDAgMDAtLjUuNXYxNmEuNS41IDAgMDAuNS41aDE2YS41LjUgMCAwMC41LS41VjRhLjUuNSAwIDAwLS41LS41ek00IDJhMiAyIDAgMDAtMiAydjE2YTIgMiAwIDAwMiAyaDE2YTIgMiAwIDAwMi0yVjRhMiAyIDAgMDAtMi0ySDR6IiBmaWxsPSIjRTFFMUUxIi8+PC9zdmc+);
  background-position: right;
  width: 1.5rem;
  height: 1.5rem;
  right: 0;
  left: unset;
  top: 0;
  padding: .1875rem;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  position: absolute;
  display: block;
  content: "";
  cursor: pointer;
}
.check2-inner1-li-label::after {
  width: 1.5rem;
  height: 1.5rem;
  right: 0;
  left: unset;
  top: 0;
  padding: .1875rem;
  position: absolute;
  display: block;
  content: "";
  cursor: pointer;
}
.check2-label-font{
  margin: 0;
  height: 1.25rem;
  font-size: .875rem;
  color: #737373;
}
.check2-label-font1{
  font-size: .875rem;
  color: #737373;
  cursor: pointer;
}
.check2-label-font2{
  color: #b5b5b5;
  padding-left: .25rem;
  font-size: .875rem;
  cursor: pointer;
}
.check2-inner1-li1{
  margin-top: 1.25rem;
  display: flex;
  height: 1.25rem;
  justify-content: space-between;
  align-items: center;
  
}
.check2-inner1-li1-div1{
  height: 100%;
  min-height: unset;
  cursor: pointer;
  flex: auto;
  padding: 0;
  position: relative;
  display: block;
}
.custom3-check{
  width: 1.25rem;
  height: 1.25rem;
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
}
.check2-inner1-li1-label{
  cursor: pointer;
  width: 100%;
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  display: inline-block;
}
.check2-inner1-li1-label::before {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMCAzLjVINGEuNS41IDAgMDAtLjUuNXYxNmEuNS41IDAgMDAuNS41aDE2YS41LjUgMCAwMC41LS41VjRhLjUuNSAwIDAwLS41LS41ek00IDJhMiAyIDAgMDAtMiAydjE2YTIgMiAwIDAwMiAyaDE2YTIgMiAwIDAwMi0yVjRhMiAyIDAgMDAtMi0ySDR6IiBmaWxsPSIjRTFFMUUxIi8+PC9zdmc+);
  background-position: right; 
  width: 1.5rem;
  height: 1.5rem;
  right: 0;
  left: unset;
  top: 0;
  padding: .1875rem;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  position: absolute;
  display: block;
  content: "";
  cursor: pointer;
}
.check2-inner1-li1-label::after {
  width: 1.5rem;
  height: 1.5rem;
  right: 0;
  left: unset;
  top: 0;
  padding: .1875rem;
  position: absolute;
  display: block;
  content: "";
  cursor: pointer;
}
.check2-label-font3{
  text-decoration: underline;
  font-size: .875rem;
  color: #737373;
  cursor: pointer;
}
#footer2-outter{
  width:1920px;
  height:74px;
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 3;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
  padding: .375rem 0;
  border: .0625rem solid #f2f2f2;
  background-color: #fff;
}
#footer2-button-outter{
width:600px;
height:60px;
width: 37.5rem;
justify-content: flex-end;
display: inline-flex;
flex-direction: row;
padding: 0 2rem 0 2.5rem;
align-items: center;
}
.footer2-button1-outter{
	width:132px;
	height:60px;
	padding: .375rem;
	text-align: center;
}
#footer2-button1{
width:120px;
height:48px;
font-weight: 500;
color: #00c7ae;
text-align: center;
border: .0625rem solid transparent;
padding: .6875rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
cursor: pointer;
user-select: none;
border: 1px solid #e1e1e1;
background-color: #fff;
}
#footer2-button1:hover{
color: #fff;
background-color: #00c7ae;
border-color: #00c7ae;
}
#footer2-button2-outter{
width:132px;
height:60px;
padding: .375rem;
text-align: center;
}
#footer2-button2{
width:120px;
height:48px;
font-weight: 500;
color: #fff;
text-align: center;
border: .0625rem solid transparent;
padding: .6875rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
cursor: pointer;
user-select: none;
background-color: #00c7ae;
border-color: #00c7ae;
margin-left: 10px;
}
#footer2-button2:hover{
color: #fff;
background-color: #00a18d;
border-color: #009481;
}
  