@charset "UTF-8";
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
	
	*{ box-sizing: border-box; margin: 0; padding: 0; word-break: break-word;}
	
	body{ font-family: "Noto Sans KR", "Malgun Gothic", -apple-system, "Segoe UI", Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";  overflow-x: hidden; overflow-y: auto;}
	
	.center{ margin: 0 auto; }
	
	.border{ border: 1px solid red; }
	
	.border_lightgrey{ border: 1px solid lightgrey; }
	
	.fl{ float: left; }
	
	.fr{ float: right; }
	
	.lightgrey{ color: #b9b7b7; }
	
	.font-color{ color: #737373; }
	
	.border_radius{ border-radius: 8px; }
	
	.sticky{ position: sticky; top: 104px; }
	
	.box img { /* hover 뒤 애니메이션 */
    	transform: scale(1.0); /* 이미지 확대 */
    	transition: transform .5s; /* 시간 설정 */
	}
 
	.box img:hover {    /* hover 시 애니메이션 */
    	transform: scale(1.08);   /* 이미지 확대 */
    	transition: transform .5s;  /* 시간 설정 */
	}	
	
	.box button {
    	transition: .5s;
	}
	
	.box button:hover {
		background-color: rgb(226, 226, 226);
		transition: .5s;
	}
	
	.box button:active {
		background-color: rgb(234, 250, 249);
		border: 0px none rgb(0, 199, 174);
		color: rgb(0, 199, 174);
	}
	
	#app {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		font-weight: 400;
		justify-content: space-between;
		line-height: 24px;
		min-height: 100%;
		text-align: left;
	}
	
	#app > #header {
		background-color: rgb(255, 255, 255);
		border-bottom: 0px none rgb(50, 50, 50);
		top: 0px;
		position: sticky;
		z-index: 1020;
		display: block;
	}
	
	#app > #header > #app-header {
		background-color: rgb(255, 255, 255);
		border-bottom: 0px none rgb(50, 50, 50);
		text-align: left;
		display: block;
		height: 72px;
	}
	
	#app-header > #global-navigation-bar {
		border-bottom: 0px none rgb(50, 50, 50);
		color: rgb(50, 50, 50,);
		display: flex;
		height: 72px;
		justify-content: center;
		text-align: center;
		position: relative;
		z-index: 3000;
	}
	
	#global-navigation-bar > #desktop-header {
		align-items: center;
		display: flex;
		height: 72px;
		justify-content: space-between;
		width: 970px;
	}
	
	#desktop-header > #left-section {
		display: flex;
	}
	
	#left-section > #logo {
		margin-right: 30px;
		display: block;
	}
	
	#logo > a > img{
		cursor: pointer;
		height: 27px;
		vertical-align: middle;
	}
	
	#left-section > nav {
		display: block;
		text-align: center;
	}
	
	#left-section > nav > #nav-left-list {
		display: flex;
		list-style-type: disc;
	}
	.left-item-margin{
		margin-left: 18px;
	}
	.nav-left-section-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-size: 16px;
		font-weight: 500;
		justify-content: center;
		line-height: 24px;
		list-style-type: none;
		position: relative;
		text-align: center;
	}
	
	#desktop-header > #right-section {
		align-items: center;
		display: flex;
		font-size: 16px;
		font-weight: 400;
		justify-content: flex-end;
		line-height: 24px;
		text-align: center;
	}
	
	#right-section > nav {
		display: block;
	}
	
	#right-section > nav > #nav-right-list {
		display: flex;
		list-style-type: disc;
	}
	
	.right-item-margin{
		margin-left: 16px;
	}
	
	.nav-right-section-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-size: 14px;
		font-weight: 400;
		justify-content: center;
		line-height: 21px;
		list-style-type: none;
		position: relative;
		text-align: center;
	}
	
	#right-section > button {
		align-items: flex-start;
		background-color: rgb(0, 199, 174);
		border: 0.666667px solid rgb(0, 199, 174);
		border-radius: 6px;
		color: rgb(255, 255, 255);
		cursor: pointer;
		display: block;
		font-size: 14px;
		font-weight: 500;
		line-height: 21px;
		margin-left: 16px;
		padding: 6.5px 0px;
		text-align: center;
		width: 80px;
	}
	
	#right-section > button > a {
		background-color: rgb(0,0,0,0);
		color: rgb(255, 255, 255);
		display: block;
		font-size: 14px;
		font-weight: 600;
		line-height: 21px;
		text-align: center;
	}
	
	/* 	-----------------------------------------------------------app-body------------------------------------------------------------------------------------------------------------ */
	
	#app > #app-body {
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		position: relative;
		text-align: left;
		flex-grow: 1; 
		width: 100%;
	}
	
	#app > #app-body > #portfolio-container {
		display: block;
		font-size: 16px;
		font-weight: 400;
		height: 873px;
		line-height: 24px;
		max-width: 100%;
		padding: 32px 0px 20px 0px;
		position: relative;
		text-align: left;
		width: 1903px;
	}
	
	#app > #app-body > #portfolio-container > #portfolio-detail {
		display: flex;
		height: 821px;
		max-width: 970px;
	}
	
	#portfolio-detail > #portfolio-detail-image {
		display: block;
		height: 821px;
		overflow: hidden;
		position: relative;
		flex-basis: auto;
		flex-grow: 1;
		flex-shrink: 1;
	}
	
	#portfolio-detail > #portfolio-detail-image > #portfolio-img-slider {
		height: 821px;
		position: relative;
		width: 672px;
	}
	
	#portfolio-img-slider > #portfolio-img-list {
		height: 821px;
		min-height: 100%;
		overflow: hidden;
		position: relative;
	}
	
	#portfolio-img-slider > #portfolio-img-list > #portfolio-img-track {
		height: 821px;
		left: 0px;
		min-height: 100%;
		position: relative;
		top: 0px;
		width: 12768px;
	}
	
	#portfolio-img-track > #portfolio-img-current {
		cursor: pointer;
		float: left;
		height: 821px;
		min-height: 100%;
		width: 672px;
	}
	
	#portfolio-img-track > #portfolio-img-current > div {
		height: 821px;
		min-height: 100%;
	}
	
	#portfolio-img-track > #portfolio-img-current > div > #portfolio-detail-image-div {
		height: 821px;
		min-height: 100%;
		display: flex;
		justify-content: center;
		width: 672px;
		background-color: rgb(242, 242, 242);
	}
	
	#portfolio-img-track > #portfolio-img-current > div > #portfolio-detail-image-div > img {
		max-height: 100%;
		max-width: 100%;
		vertical-align: middle;
	}
	
	.portfolio-img-slider-btn {
		align-items: center;
		background-color: rgba(0, 0, 0, 0.15);
		border-radius: 20px;
		border: 0px none rgb(50, 50, 50);
		color: rgb(50, 50, 50);
		display: flex;
		font-size: 16px;
		font-weight: 500;
		height: 40px;
		justify-content: center;
		overflow: visible;
		text-align: center;
		top: 390px;
		width: 40px;
		vertical-align: middle;
		position: absolute;
	}
	
	.portfolio-img-left-btn::after {
		background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjEuNyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTQgMTlsLTctNyA3LTciLz48L2c+PC9zdmc+);
		content: "";
		display: block;
		height: 24px;
		width: 24px;
	}
	
	.portfolio-img-right-btn::after {
		background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjEuNyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTAgMTlsNy03LTctNyIvPjwvZz48L3N2Zz4=);
		content: "";
		display: block;
		height: 24px;
		width: 24px;
	}
	
	.slick-dots {
		align-items: center;
		display: flex;
		justify-content: center;
		position: absolute;
		padding-bottom: 16px;
		width: 672px;
	}
	
	.slick-active {
		background-color: rgb(0, 199, 174);
		border-radius: 50%;
		cursor: pointer;
		display: block;
		font-size: 16px;
		font-weight: 400;
		margin: 0px 2px;
		position: relative;
		text-align: center;
		width: 7.5px;
		height: 7.5px;
		list-style-type: none;
	}
	
	.dot-clickable {
		color: rgb(50, 50, 50);
		cursor: pointer;
		display: block;
		font-size: 16px;
		font-weight: 400;
		height: 20px;
		width: 13px;
		text-align: center;
	}
	
	
	
	#portfolio-detail > #portfolio-detail-contents {
		display: block;
		flex-basis: 262px;
		margin-left: 36px;
		max-width: 262px;
		min-width: 262px;
	}
	
	#portfolio-detail > #portfolio-detail-contents > #portfolio-title {
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
		margin-bottom: 16px;
	}
	
	#portfolio-title > #portfolio-title-text {
		display: -webkit-box;
		line-height: 32px;
		max-height: 64px;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}
	
	#portfolio-title > #portfolio-title-text > h1 {
		font-size: 20px;
		font-weight: 700;
		letter-spacing: -0.4px;
	}
	
	#portfolio-detail > #portfolio-detail-contents > span {
		 font-size: 14px;
		 font-weight: 400;
		 line-height: 20px;
		 color: rgb(153, 153, 153);
	}
	
	#portfolio-detail > #portfolio-detail-contents > hr {
		border-top: 1px solid rgb(242, 242, 242);
		margin: 24px 0px;
		overflow: visible;
	}
	
	#portfolio-detail > #portfolio-detail-contents > #portfolio-detail-profile {
		align-items: center;
		cursor: pointer;
		display: flex;
		margin-bottom: 24px;
	}
	
	#portfolio-detail-profile > #user-profile-picture {
		display: block;
		position: relative;
	}
	
	#portfolio-detail-profile > #user-profile-picture > div > img{
		background-color: rgb(225, 225, 225);
		border: 1px solid rgb(242, 242, 242);
		border-radius: 10px;
		display: block;
		height: 46px;
		overflow: hideen;
		position: relative;
		width: 46px;
	}
	
	#portfolio-detail-profile > #user-provider-info {
		display: flex;
		flex-basis: 100%;
		flex-direction: column;
		flex-grow: 0;
		flex-shrink: 1;
		padding: 0px 12px;
	}
	
	#portfolio-detail-profile > #user-provider-info > span {
		font-size: 14px;
		font-weight: 500;
		letter-spacing: -0.3px;
		line-height: 22px;
		overflow: hidden;
	}
	
	#portfolio-detail-profile > #user-provider-info > #provider-review {
		display: flex;
		font-size: 16px;
		font-weight: 400;
		margin-top: 4px;
		align-items: center;
		height: 18px;
	}
	
	#provider-review > ul {
		list-style-type: disc;
	}
	
	#provider-review > ul > li {
		display: table-cell;
		width: 16px;
		list-style-type: none;
	}
	
	#provider-review > ul > li > img {
		margin-right: 3px;
	}
	
	#provider-review > span {
		font-size: 12px;
		font-weight: 400;
		letter-spacing: -0.2px;
		line-height: 18px;
	}
	
	#portfolio-detail-profile > button {
		align-items: flex-start;
		align-content: center;
		background-color: rgba(0,0,0,0);
		background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZD0iTTQuMDggMTUuNlYyMWgxNS44NHYtNS40TTYuMjQgOC41NzVMMTIgM2w1Ljc2IDUuNTc1TTEyIDE1LjZWMy4wMDIiIHN0cm9rZT0iIzMyMzIzMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIvPjwvZz48L3N2Zz4=);
		border-radius: 4px;
		border: 1px solid rgba(0, 0, 0, 0);
		height: 24px;
		overflow: visible;
		padding: 11px 12px;
		width: 26px;
		vertical-align: middle;
	}
	
	#portfolio-detail > #portfolio-detail-contents > #portfolio-detail-fixed {
		display: block;
	}
	
	.portfolio-detail-btn {
		background-color: rgb(0, 199, 174);
		border: 1px solid rgb(0, 199, 174);
		border-radius: 8px;
		color: rgb(255, 255, 255);
		display: inline-block;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 24px;
		padding: 15px 0px;
		vertical-align: middle;
		cursor: pointer;
		width: 262px;
		font-family: "Noto Sans KR", "Malgun Gothic", -apple-system, "Segoe UI", Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";  overflow-x: hidden; overflow-y: auto;
	}
	
	#portfolio-detail > #portfolio-detail-contents > #portfolio-detail-meta-list {
		display: flex;
		flex-wrap: wrap;
	}
	
	#portfolio-detail-meta-list > h3 {
		align-items: flex-start;
		display: flex;
		color: rgb(136, 136, 136);
		flex-basis: 105px;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: -0.3px;
		line-height: 22px;
		margin-bottom: 12px;
		height: 22px;
	}
	
	#portfolio-detail-meta-list > span {
		align-items: flex-start;
		color: rgb(45, 45, 45);
		display: -webkit-box;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: -0.3px;
		margin-bottom: 12px;
		max-height: 44px;
		overflow: hidden;
		text-align: left;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		flex-basis: calc(100% - 105px);
		flex-grow: 1;
		flex-shrink: 1;
		height: 22px;
	} 
	
	#portfolio-detail > #portfolio-detail-contents > #portfolio-detail-content {
		font-size: 14px;
		font-weight: 400;
		letter-spacing: -0.3px;
		line-height: 22px;
		margin-top: 12px;
		white-space: pre-line;
	}
	
	.portfolio-list-button {
		background-color: rgb(255, 255, 255);
		border-radius: 8px;
		border: 1px solid rgb(226, 226, 226);
		color: rgb(169, 169, 169);
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		margin-top: 32px;
		overflow: visible;
		padding: 12px 0px;
		text-align: center;
		vertical-align: middle;
		width: 262px;
		font-family: "Noto Sans KR", "Malgun Gothic", -apple-system, "Segoe UI", Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	}
	
	#app > #app-footer {
		background-color: rgb(255, 255, 255);
		border-top: 0.666667px solid rgb(225, 225, 225);
		color: rgb(50, 50, 50);
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		padding: 21px 0px 40px 0px;
		text-align: left;
		width: 100%;
	}
	
	#app > #app-footer > #footer-container {
		display: block;
		max-width: 970px;
		width: 970px;
	}
	
	#app > #app-footer > #footer-container > #col-content {
		display: inline-block;
		margin-bottom: 30px;
		vertical-align: top;
	}
	
	#col-content > #col-content-text {
		display: block;
		color: rgb(0, 199, 174);
		font-size: 20px;
		font-weight: 500;
		padding-bottom: 3px;
	}
	
	#col-content > #col-content-text-middle {
		display: block;
		font-size: 14px;
		font-weight: 400;
		padding-bottom: 30px;
		color: rgb(115, 115, 115);
	}
	
	.footer-download {
		background-color: rgb(0, 199, 174);
		border-radius: 20.5px;
		border: 0px none rgb(255, 255, 255);
		color: rgb(255, 255, 255);
		cursor: pointer;
		display: inline-block;
		font-size: 12px;
		font-weight: 500;
		height: 36px;
		line-height: 36px;
		padding: 0px 16px;
		text-align: center;
		text-decoration-color: rgb(255, 255, 255);
		text-decoration-line: none;
		text-decoration-style: solid;
		width: 136px; 
	}
	
	.footer-download-img {
		margin-top: -2px;
		padding-right: 6px;
		vertical-align: middle;
	}
	
	#footer-container > #col-content-right {
		display: block;
		float: right;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
	}
	
	#col-content-right > #content-list {
		list-style-type: disc;
	}
	
	.content-list {
		display: inline-block;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		list-style-type: none;
		min-width: 95px;
		padding-bottom: 15px;
		vertical-align: top;
		text-align: left;
	}
	
	.content-list-category {
		display: block;
		font-size: 14px;
		font-weight: 500;
		color: rgb(50, 50, 50);
		padding-bottom: 5px;
		position: relative;
		height: 25px;
	}
	
	.content-list-text {
		background-color: rgba(0, 0, 0, 0);
		color: rgb(115, 115, 115);
		cursor: pointer;
		font-size: 14px;
		font-weight: 400;
		padding-bottom: 5px;
		position: relative;
		text-decoration-color: rgb(115, 115, 115);
		text-decoration-line: none;
		text-decoration-style: solid;
		display: block;
		height: 25px;
	}
	
	#app > #app-footer > #footer-container-row {
		color: rgb(50, 50, 50);
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		width: 970px;
		text-align: left;
		padding-top: 20px;
	}
	
	#footer-container-row > #footer-container-row-term {
		align-items: flex-end;
		display: flex;
		width: 970px;
	}
	
	.row-term-content {
		flex-basis: 0%;
		flex-grow: 1;
		flex-shrink: 1;
		vertical-align: top;
	}
	
	.row-term-list {
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
		padding: 0px 96px 8px 0px;
		text-align: left;
	}
	
	.row-term-list-terms-group {
		font-size: 16px;
		font-weight: 4000;
		line-height: 18px;
		text-align: left;
		display: inline-flex;
	}
	
	.terms-text {
		background-color: rgba(0, 0, 0, 0);
		color: rgb(115, 115, 115);
		cursor: pointer;
		font-size: 12px;
		font-weight: 500;
		text-align: left;
		text-decoration-color: rgb(115, 115, 115);
		text-decoration-line: none;
		text-decoration-style: solid;
	}
	
	.terms-text-span {
		color: rgb(115, 115, 115);
		font-size: 12px;
		font-weight: 400;
		text-align: left;
		display: inline-block;
		width: 686px;
	}
	
	.row-term-content-guide {
		list-style-type: disc;
		line-height: 24px;
	}
	
	.content-guide-text {
		font-size: 12px;
		font-weight: 400;
		list-style-type: none;
		color: rgb(115, 115, 115);
		height: 17.33px;
	}
	
	.row-term-content-badge {
		float: right;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		padding-bottom: 40px;
		text-align: left;
		vertical-align: top;
		width: 188px;
		height: 68.323px;
	}
	
	.footer-badge {
		background-color: rgba(0, 0, 0, 0);
		cursor: pointer;
		padding-right: 6px;
		vertical-align: top;
	}
		
	.footer-badge-img {
		vertical-align: middle;
		width: 28px;
		height: 28px;
	}