@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

  body{font-family: Noto Sans KR, Malgun Gothic, -apple-system, Segoe UI, Roboto, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  		margin:0 auto;
      }
  .border {
      border: 1px solid red;
  }
  * {
      box-sizing: border-box;
  }
  p12{
      margin: 0;
      letter-spacing: -2px;
      font-size: 12px;
  }
  p14{
  	 margin: 0;
      letter-spacing: -2px;
      font-size: 14px;
  }
  a {
      text-decoration-line: none;
      }
.fl{float: left;}
.fr{float: right;}
.
h h1 h2 h3{margin: 0;}
ul{padding: 0px;}
  #total-header{
    position: fixed;
    top: 0;
    width :1903px;
    height:72px;
    background-color: rgb(255, 255, 255);
    border-bottom-color : rgb(242, 242, 242);
    border-bottom-style : solid;
    border-bottom-width : 1px;
  }
  #soomgo-header{
      width: 100%;
      width : 972px;
      height : 72px;
      margin-left : 464px;
      margin-right : 466.5px;
      background-color: rgb(255, 255, 255);
      border-bottom-color : rgb(242, 242, 242);
      border-bottom-style : solid;
      border-bottom-width : 1px;
  }
  #soomgo-header1{
      width : 79.5px;
      height : 27px;
      float : left;
      margin-top : 22.5px;
      margin-left : 2.5px 
  }
  #soomgo-menu1{
      width : 264.13px;
      height : 28.16px;
      float : left; 
      margin-top : 26.5px;
      margin-left : 29.5px;
  }
  #soomgo-request{
      width : 63.89px;
      height : 24px;
      float : left;
      line-height: 120%;
  }
  #soomgo-serch{
      width : 63.89px;
      height : 24px;
      float : left;
      margin-left : 13px;
      line-height: 120%;
  }
  #soomgo-market{
      width : 33.45px;
      height : 24px;
      float : left;
      margin-left : 13px;
      line-height: 120%;
  }
  #soomgo-community{
      width : 60.89px;
      height : 24px;
      float : left;
      margin-left : 14px;
      line-height: 120%;
  }
  #soomgo-header-serch{
      background-color : rgb(242, 242, 242);
        width: 280px;
        height :40px;
        float :left;
        margin-left : 55.5px;
        margin-top : 15.5px;
        border-radius: 6px
  }
  #reading-glasses-img{
        width:24px;
        height :40px;
        float:left;
        padding-top :9px;
        padding-bottom: 8px;
        margin-left: 12px;
  }
  #serch-input-outter{
    background-color : rgb(242, 242, 242);
    width:224px;
    height :38px;
    float:left;
    margin-left: 5px;
    margin-top : 3px;
  }
  .serch-input{
    background-color :rgb(242, 242, 242);
    width:224px;
    height :38px;
    border: none;
    font-size:.875rem;
  }
  #soomgo-menu2{
      width : 202.17px;
      height : 36px;
      float : right;
      margin-top : 16px;
      margin-left: 20px;
  }
  #soomgo-login{
      width : 40.64px;
      height : 20px;
      float : left;
      margin-top : 11px;
      margin-left : 0.5px;
      line-height: 100%; 
  }
  #soomgo-join{
      width : 60.53px;
      height : 20px;
      float : left;
      margin-left : 13.8px;
      margin-top : 11px;
      line-height: 100%;
  }
  #soomgo-gosu-join{
      width : 80px;
      height : 36px;
      float : right;
      margin-top : 2px;
      line-height: 35px;
      background-color:#00c7ae;
      border-radius: 6px;
      text-align : center;
  }
  
  /* -----------------------------여기까지 헤더---------------------------------- */
	  	.div_layout {
			width: 1060px;
			min-height: 100%;
			margin:0 auto;
 		}
  		.div_layout > .div_community {
			width: 100%;
/* 			min-height: 900px; */
			margin: 0px 44.5px 0PX;
/* 			padding: 0px 0px 80px; */
		}
		.div_layout > .div_community > .div_header {
			width: 100%;
			height: 189px;
		}
		.div_layout > .div_community > .div_header  > .div_header_inner {
			width: 970px;
			height: 99px;
			padding: 50px 0px;
			margin: 0px 0px 40px 0px;
			float: left;
		}
/* 		----- 헤더 글쓰기 이미지 -----커뮤 질.답 수정해ㅑ함 */
		.div_layout > .div_community > .div_header  > .div_header_inner > .div_header_text {
			width: 128px;
			height: 49px;
			font-size: 34px;
			font-weight: 500;
			line-height: normal;
			float: left;
		}
		.div_layout > .div_community > .div_header  > .div_header_inner > .div_header_img {
			width: 120px;
			height: 44px;
			padding: 11px 12px;
			background: #00C7AE;
			color: white;
			font-size: 16px;
			font-weight: 500;
			float:right;
			cursor: pointer;
			border-radius: 6px;
			border:none;
			text-align : center;
			margin-top: 5px;
			position: relative;
		}
		.text {
			margin:0px 24px 2px 0px;
			
		}
		.inner_img {
			float: right;
			margin: -34px 15px 0px 0px;
		}
/* 		----- 헤더 글쓰기 이미지 ----- */
		.div_layout > .div_community > .div_header > .div_category{
			width: 970px;
			height: 50px;
			margin: 0px 0px 30px;
			border-bottom: 1px solid rgb(244, 244, 244);
			float: left;
		}
		.div_soomgo_text1 {
			/* 숨고생활 */
			width: 69px;
			height: 49px;
			padding: 10px 4px;
			font-size: 16px;
			float:left;
			margin-right: 13px;
			color: black; 
			border-bottom: 2px solid black; 
			cursor: pointer;
		}
		.div_soomgo_text2 {
			/* 고수센터 */
			width: 69px;
			height: 49px;
			padding: 10px 4px;
			font-size: 16px;
			color: #A9A9A9;
			float:left;
			margin-right: 13px;
			cursor: pointer;
		}
		
		.community_layout {
			display: flex;
			flex-direction: row;
			
		}
		.soomgo_life_topic_layout {
		/* 사이드 탭을 담을 div */
			position: sticky;
			top: 96px;
			z-index: 10;
			align-self: flex-start;
			width: 200px;
			height: 100%;
			background: #fff;
			line-height: 24px;
			float: left;
		}
		.soomgo_life_topic_layout > ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			row-gap: 4px;
			margin: 0;
			padding: 0;
		}
		.soomgo_life_topic_layout > ul > li {
			display: list-item;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			list-style-image: none;
			list-style-position: outside;
			list-style-type: none;
			text-align: left;
			
		}
		.topic_link_item {
			display: flex;
			cursor: pointer;
			font-size: 14px;
			font-weight: 400;
			height: 56px;
			line-height: 21px;
			padding: 0px 20px;
			text-align: left;
			align-items: center;
			
		}
		.community_content_layout {
			width: 600px;
			margin-left: 85px;
			padding: 0px;
		}
		.topic_guide {   
			width: 600px;
			height: 72px;
			font-size: 16px;
			font-weight: 400;
			display: flex;
			align-items: center;
			justify-content: space-between;
			line-height: 24px;
			background-color: rgb(255, 240, 241);
			margin: 0px 0px 32px;
			padding: 16px 24px;
			border-radius: 8px;
		}
		.guide_line {
			font-size: 14px;
			font-weight: 400;
			color: rgb(98,98,98);
			letter-spacing: -0.3px;
			line-height: 20px;
			text-align: left;
			margin: 0;
			flex: 1;
		}
		.guide_icon {
			height: 40px;
			width: 72px;
			object-fit: cover; 
			margin-left: 10px;
		}
		.knowhow_list {
			width: 100%;
			padding: 0;
			border: none;
		}
		.knowhow_list > ul {
			display: flex;
			flex-wrap: wrap;
   			grid-template-columns: repeat(3, 1fr);
   			margin: -4px -8px -16px;
   			line-height: 24px;
   			list-style-type: disc;
	    	list-style: none;
	    	padding: 0;
		}
		.knowhow_list > ul > li {
			display: list-item;
			flex-basis: 33.33%;
			flex-grow: 0;
			flex-shrink: 1;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			text-align: left;
		    list-style: none;
	        text-align: -webkit-match-parent;
    		unicode-bidi: isolate;
		}
		.item_wrapper {
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			padding: 16px 8px;
			box-sizing: border-box;
		}
		.item_wrapper > a {
			text-decoration: none;
			color: #323232;
			background-color: transparent;
		}
		.image_wrapper {
			border-radius: 8px;
			cursor: pointer;
			display: block;
			overflow: hidden;
			padding: 0;
			padding-bottom: 126.3px;
			position: relative;
			text-align: left;
			width: 100%;
			word-break: break-word;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			margin-bottom: 12px;
			
		}
		.content_image {
			line-height: 24px;
			overflow-clip-margin: content-box;
			overflow: clip;
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit : cover;
			cursor: pointer;
		}
		.content_title {
			display: -webkit-box;
			max-height: 48px;
			overflow: hidden;
			text-align: left;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			maring-bottom: 4px;
			line-height: 24px;
			list-style-image: none;
			letter-spacing: -0.3px;
			font-size: 16px;
			font-weight: 500;
			cursor: pointer;
		}
		h3{margin:0;}
		.content_writer	{
			color: rgb(115,115,115);
			cursor: pointer;
			display: -webkit-box;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			list-style-image: none;
			max-height: 21px;
			overflow: hidden;
			text-align: left;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
		
		
		
		
		
		
		
		
		#div_community_layout {
			width: 970px;
			min-height: 900px; 
			margin-top: 30px;
			margin-right: 30px;
		}
		#div_community_layout > div:nth-child(1) {
		/* 사이드 탭을 담을 div */
			width: 200px;
			float: left;
			cursor: pointer;
		}
		#div_community_layout > div:nth-child(1) > .topic_item {
			width: 100%;
			height: 56px;
			padding: 0px 20px;
			align-items: center;
			display: flex;
			font-size: 14px;
			font-weight: 400;
		 	margin-bottom: 4px;
		 	border-radius: 8px;
		}
		.selected {
			/* 사이드 탭  카테고리 목록 마우스 올렸을떄 색상 변경 */
			background-color: #eafaf9;
   			 font-weight: bold !important;
		}
		
		#div_community_layout > div > div > .div_town.active {
		    background-color: #eafaf9;		/* 사이드 탭  카테고리 목록  마우스 클릭했을때 색상 변경 */
		    font-weight: 700;				/* 눌렀을때 색상 및 글씨 굵기 변화 */
 		}
		#div_community_layout > div:nth-child(2) {
			width: 612px;
			min-height: 800px;
			margin-left: 283px;
   			margin-right: 85px;
		}
	
  		#div_topic > p {	/*  커뮤 질문답변 카테고리의 헤더  text */
  			width: 325px;
  			font-size: 14px;
			font-weight: 400;
			letter-spacing: -0.3px;
			line-height: 30.02px;
			text-align: left;
			margin-top: 6px;
			float:left;
			color: rgb(98, 98, 98);
  		}
  		#div_topic > img {		/*  커뮤 질문답변 카테고리의 헤더  img */
  			width: 72px;
  			height: 42px;
  			object-fit: cover;   /* 이미지 비율 유지 */
  			float: right;
  		}
  		#div_service_town {
  			width: 600px;
  			height: 54px;
  			padding: 8px;
  			float: left;
  			margin-top: -2px;
  		}
  		#div_service_town > #div_service {
  			width: 97px;
  			height: 38px;
  			margin: 0px 8px 0px 0px;
  			padding: 6px 15px;
  			float: left;
  			border-radius: 19px;
  			color: #737373;
  			border: .0625rem solid #e1e1e1;
  		}
  		#div_service_town > #div_town {
  			width: 82px;
  			height: 38px;
  			padding: 6px 15px;
  			float: left;	
  			border-radius: 19px;
  		    color: #737373;
  		    border: .0625rem solid #e1e1e1;
  		}
  		span {
  			font-size: 16px;
  			line-height: 24px;
  			font-weight: 400;
  			color: #2d2d2d;
  			margin:0;
  		}
  		#div_service_town > img {
  			width: 16px;
  		}
  		#div_service_town > div { /*  div 안에 이미지 가운데 정렬 */
  			text-align:center;
  		}
  	
  	/* ---------------- 여기서부터 커뮤니티 게시글목록 --------------------- */
  	.div_community_layout > div:nth-child(2) > .div_post_item_list {
  		font-size: 16px;
  		font-weight: 400;
  		line-height: 24px;
  		float: left;
  	}
  	.div_post_item_list > .div_post_item {
  		width: 204px;
  		height: 245px;
  		padding: 16px 0px;
  		margin-right: -3px;
  		margin-left: 2px;
  		float: left;
  		cursor: pointer;
  	}
  	.div_post_item  > .div_img_box {  /* post 이미지 담을 div */
  		width: 189.4px;
  		height: 128.3px;
  		margin: 0px 0px 12px;
  		padding: 0px 0px 126.3px;
  		border-radius: 8px;
  	}
  	.p_img {
  		width: 187.2px;
  		height: 128px;
  		object-fit: cover;  /* 이미지 비율 유지 */
  		cursor: pointer;
  		border-radius: 8px;
  		margin-top: -7px;
  		margin-left: 2px;
  	}
.div_title_box {
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.5px;
	line-height: 24px;
	overflow: hidden;
	margin-block-end: 4px;
	margin-top: -7px;
	margin-left: 2px;
}
.div_post_writer {
	width: 189.4px;
	height: 21px;
	color: #737373;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: -3px;
	margin-left: 2px;
}
  	
  	/* ---------------- 여기까지 커뮤니티 게시글목록 --------------------- */
  	
  	
/*   	푸터 */
#app-footer {
	background-color: rgb(255, 255, 255);
	border-top: 0.666667px solid rgb(225, 225, 225);
	color: rgb(50, 50, 50);
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 21px 0px 40px 0px;
	text-align: left;
	width: 100%;
}

#app > #app-footer > #footer-container {
	display: block;
	max-width: 970px;
	width: 970px;
}

#app > #app-footer > #footer-container > #col-content {
	display: inline-block;
	margin-bottom: 30px;
	vertical-align: top;
}

#col-content > #col-content-text {
	display: block;
	color: rgb(0, 199, 174);
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 3px;
}

#col-content > #col-content-text-middle {
	display: block;
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 30px;
	color: rgb(115, 115, 115);
}

.footer-download {
	background-color: rgb(0, 199, 174);
	border-radius: 20.5px;
	border: 0px none rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	height: 36px;
	line-height: 36px;
	padding: 0px 16px;
	text-align: center;
	text-decoration-color: rgb(255, 255, 255);
	text-decoration-line: none;
	text-decoration-style: solid;
	width: 136px; 
}

.footer-download-img {
	margin-top: -2px;
	padding-right: 6px;
	vertical-align: middle;
}

#footer-container > #col-content-right {
	display: block;
	float: right;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

#col-content-right > #content-list {
	list-style-type: disc;
}

.content-list {
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	list-style-type: none;
	min-width: 95px;
	padding-bottom: 15px;
	vertical-align: top;
	text-align: left;
}

.content-list-category {
	display: block;
	font-size: 14px;
	font-weight: 500;
	color: rgb(50, 50, 50);
	padding-bottom: 5px;
	position: relative;
	height: 25px;
}

.content-list-text {
	background-color: rgba(0, 0, 0, 0);
	color: rgb(115, 115, 115);
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 5px;
	position: relative;
	text-decoration-color: rgb(115, 115, 115);
	text-decoration-line: none;
	text-decoration-style: solid;
	display: block;
	height: 25px;
}

#app > #app-footer > #footer-container-row {
	color: rgb(50, 50, 50);
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	width: 970px;
	text-align: left;
	padding-top: 20px;
}

#footer-container-row > #footer-container-row-term {
	align-items: flex-end;
	display: flex;
	width: 970px;
}

.row-term-content {
	flex-basis: 0%;
	flex-grow: 1;
	flex-shrink: 1;
	vertical-align: top;
}

.row-term-list {
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	padding: 0px 96px 8px 0px;
	text-align: left;
}

.row-term-list-terms-group {
	font-size: 16px;
	font-weight: 4000;
	line-height: 18px;
	text-align: left;
	display: inline-flex;
}

.terms-text {
	background-color: rgba(0, 0, 0, 0);
	color: rgb(115, 115, 115);
	cursor: pointer;
	font-size: 12px;
	font-weight: 500;
	text-align: left;
	text-decoration-color: rgb(115, 115, 115);
	text-decoration-line: none;
	text-decoration-style: solid;
}

.terms-text-span {
	color: rgb(115, 115, 115);
	font-size: 12px;
	font-weight: 400;
	text-align: left;
	display: inline-block;
	width: 686px;
}

.row-term-content-guide {
	list-style-type: disc;
	line-height: 24px;
}

.content-guide-text {
	font-size: 12px;
	font-weight: 400;
	list-style-type: none;
	color: rgb(115, 115, 115);
	height: 17.33px;
}

.row-term-content-badge {
	float: right;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-bottom: 40px;
	text-align: left;
	vertical-align: top;
	width: 188px;
	height: 68.323px;
}

.footer-badge {
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	padding-right: 6px;
	vertical-align: top;
}
	
.footer-badge-img {
	vertical-align: middle;
	width: 28px;
	height: 28px;
}
  	
  	
  	
/*   	글쓰기 클릭시 drop-down-menu  */ 
.dropdown-write-menu {
	display: none;
	position: absolute;
	will-change: transform;
	top: 0px;
	left: 0px;
	transform: translate3d(-200px, 44px, 0px);
	width: 320px;
	padding: 8px 0px;
	margin-top: 14px;
	text-align: center;
	border: 1px solid #e1e1e1;
	list-style: none;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	background: white;
	z-index: 1;
}
.dropdown-write-menu > li {
	list-style: none;
	display: list-item;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}
.dropdown-menu-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px 20px;
}
.dropdown-menu-item-text {
	display: flex;
    flex-direction: column;
	gap: 4px;
	align-items: flex-start;
}
.headline {
	color: rgb(45,45,45);
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.3px;
	line-height: 22px;
	text-align: center;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}
.underline {
	color: rgb(136,136,136);
	cursor: pointer;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.2px;
	line-height: 18px;
	text-align: center;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}
.dropdown-menu-itme-icon {
	width: 20px;
	height: 20px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTguODM0IDMuNjY2YS43MDguNzA4IDAgMDAtMS4wNjUuOTI5bC4wNjMuMDczIDUuMzMzIDUuMzMxLTUuMzMzIDUuMzMzYS43MDguNzA4IDAgMDAtLjA2My45M2wuMDYzLjA3MmEuNzA4LjcwOCAwIDAwLjkzLjA2NGwuMDcyLS4wNjQgNS44MzQtNS44MzNhLjcwOC43MDggMCAwMC4wNjMtLjkzbC0uMDYzLS4wNzItNS44MzQtNS44MzN6IiBmaWxsPSIjRTJFMkUyIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
	background-origin: padding-box;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	font-style: italic;
	text-align: center;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	