@charset "UTF-8";
  body{font-family: Noto Sans KR, Malgun Gothic, -apple-system, Segoe UI, Roboto, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
      }
  .border {
      border: 1px solid red;
  }
  .center {
      margin: 0 auto;
  }
  * {
      box-sizing: border-box;
  }
  p{
      margin: 0;
      letter-spacing: -2px;
      font-size: 12px;
  }
  a {
      text-decoration-line: none;
      }
h2 {
    margin: 0;
}

 /* -------------------헤더-----------------------  */
/*   #total-header{
    position: fixed;
    top: 0;
    width :1903px;
    height:72px;
    background-color: rgb(255, 255, 255);
    border-bottom-color : rgb(242, 242, 242);
    border-bottom-style : solid;
    border-bottom-width : 1px;
  }
  #soomgo-header{
      width: 100%;
      width : 972px;
      height : 72px;
      margin-left : 464px;
      margin-right : 466.5px;
      background-color: rgb(255, 255, 255);
      border-bottom-color : rgb(242, 242, 242);
      border-bottom-style : solid;
      border-bottom-width : 1px;
  }
  #soomgo-header1{
      width : 79.5px;
      height : 27px;
      float : left;
      margin-top : 22.5px;
      margin-left : 2.5px 
  }
  #soomgo-menu1{
      width : 264.13px;
      height : 28.16px;
      float : left; 
      margin-top : 26.5px;
      margin-left : 29.5px;
  }
  #soomgo-request{
      width : 63.89px;
      height : 24px;
      float : left;
      line-height: 120%;
  }
  #soomgo-serch{
      width : 63.89px;
      height : 24px;
      float : left;
      margin-left : 13px;
      line-height: 120%;
  }
  #soomgo-market{
      width : 33.45px;
      height : 24px;
      float : left;
      margin-left : 13px;
      line-height: 120%;
  }
  #soomgo-community{
      width : 60.89px;
      height : 24px;
      float : left;
      margin-left : 14px;
      line-height: 120%;
  }
  #soomgo-header-serch{
      background-color : rgb(242, 242, 242);
        width: 280px;
        height :40px;
        float :left;
        margin-left : 55.5px;
        margin-top : 15.5px;
        border-radius: 6px
  }
  #reading-glasses-img{
        width:24px;
        height :40px;
        float:left;
        padding-top :9px;
        padding-bottom: 8px;
        margin-left: 12px;
  }
  #serch-input-outter{
    background-color : rgb(242, 242, 242);
    width:224px;
    height :38px;
    float:left;
    margin-left: 5px;
    margin-top : 3px;
  }
  .serch-input{
    background-color :rgb(242, 242, 242);
    width:224px;
    height :38px;
    border: none;
    font-size:.875rem;
  }
  #soomgo-menu2{
      width : 202.17px;
      height : 36px;
      float : right;
      margin-top : 16px;
      margin-left: 20px;
  }
  #soomgo-login{
      width : 40.64px;
      height : 20px;
      float : left;
      margin-top : 11px;
      margin-left : 0.5px;
      line-height: 100%; 
  }
  #soomgo-join{
      width : 60.53px;
      height : 20px;
      float : left;
      margin-left : 13.8px;
      margin-top : 11px;
      line-height: 100%;
  }
  #soomgo-gosu-join{
      width : 80px;
      height : 36px;
      float : right;
      margin-top : 2px;
      line-height: 35px;
      background-color:#00c7ae;
      border-radius: 6px;
      text-align : center;
  } */
  
 /* -------------------여기까지 헤더-------------  */
  
  /* ----------여기부터 지역 필터------------ */
.div_town_layout {
	/* 서비스 / 지역의 큰 div */
	width: 410px;
	margin: 200px 750px;
	height: 42.5rem;
	overflow-y: scroll;
	overflow-x: hidden;  /* 가로 스크롤바 없애기 */
}
.div_town_header {
	/* 서비스 지역  헤ㅔ더 */
	width: 410px;
	height: 60px;
	padding: 10px 16px;
	background-color: #fff;  /* 백그라운드 흰색으로해서 스크롤바 가리기 */
	position: fixed;   			 /* 스크롤바 가로줄 없애는데 사용 */
	z-index: 100;
}

 .div_town_header > .div_service2 {
	/* 서비스 텍스트 div */
	width: 58px;
	height: 40px;
	padding: 6px;
	font-weight: 500;
	line-height: 1.75;
	letter-spacing: -.01688rem;
	font-size: 16px;
	margin-right: 10px;
	float: left;
} 

.div_town_header > .div_town2 {
	/* 지역 div */
	width: 43px;
	height: 40px;
	font-size: 16px;
	padding: 6px;
	font-weight: 500;
	line-height: 1.75;
	letter-spacing: -.01688rem;
	float: left;
}

 .x {
	width: 16px;
	height: 16px;
	display: block;
	margin: 14px 2px;
	float: right;
} 
.div_town_box{
	/* 지역리스트를 담을 div */
	padding: 16px 16px 22px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	position: relative;
	margin-top: 50px;
}
.scroll  {
	height: 42.5rem;
	overflow-y: scroll;
	overflow-x: hidden;  /* 가로 스크롤바 없애기 */
}

.div_town {
	/* 지역명 담을 div */
	width: 380px;
	height: 46px;
	cursor: pointer;
	color: black;
	line-height: 21px;
	padding: 12px 0px;
	font-size: 14px;
	font-weight: 400;
	position:relative;
	/* background-color: rgb(242, 242, 242);    클릭했을때 변하는 색상*/
}
.img {
	width:18px;
	background-color: rgb(181, 181, 181);
	object-fit: cover;
	line-height: 21px;
	margin-left: 10px;
}
.div_town:hover {
	/* 마우스 올렸을떄 색상 변경 */
	background-color: #f2f2f2;
}
.div_town.active {
	/* 마우스 클릭했을때 색상 변경 */
    background-color: #f2f2f2;
    color: rgb(0, 199, 174);
 }
.div_town::after {
	/* 밑줄 만들기 div */
    content: '';
    position: absolute;
    width: 370px; /* 밑줄 길이를 조절*/
    height: 2px; /* 밑줄 두께를 조절*/
    background-color: rgb(244, 244, 244); /* 밑줄 색상을 조절 */
    left: 2px; /* padding-left 값과 동일하게 맞춤 */
    bottom: -2px; /* 밑줄 위치를 조절 */
}
  .div_town .arrow-down {
 position: absolute;
    right: 16px; /* 오른쪽 끝에서 16px 떨어진 위치에 배치 */
    top: 50%;
    transform: translateY(-50%);
	width: 14px;
	height: 24px;
	background-size: 19px;
	background-repeat: no-repeat;
	    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0iI0I1QjVCNSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTYuMTA3IDUuMjU3bC43MDcuNzA3LTcuNzc5IDcuNzc5LS43MDctLjcwN3oiLz48cGF0aCBkPSJNMS4yNTcgNS45NjRsLjcwNy0uNzA3IDcuNzc5IDcuNzc5LS43MDcuNzA3eiIvPjwvZz48L3N2Zz4=);
	background-position-x: -3px;   
	background-position-y: 8px;  
	background-color: none;
  }
  .div_town .arrow-up {
    position: absolute;
    right: 16px;
    top: 47%;
    transform: rotate(180deg);
    width: 14px;
    height: 27px;
    background-size: 19px;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0iI0I1QjVCNSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTYuMTA3IDUuMjU3bC43MDcuNzA3LTcuNzc5IDcuNzc5LS43MDctLjcwN3oiLz48cGF0aCBkPSJNMS4yNTcgNS45NjRsLjcwNy0uNzA3IDcuNzc5IDcuNzc5LS43MDcuNzA3eiIvPjwvZz48L3N2Zz4=);
    background-position-x: -3px;
    background-position-y: 13px;
    background-color: none;
}

/* ----------여기까지 지역 필터------------ */















