	@charset "UTF-8";@charset "UTF-8";
  body{font-family: Noto Sans KR, Malgun Gothic, -apple-system, Segoe UI, Roboto, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
      }
  .border {
      border: 1px solid red;
  }
  .center {
      margin: 0 auto;
  }
  * {
      box-sizing: border-box;
  }
  p{
      margin: 0;
      letter-spacing: -2px;
      font-size: 12px;
  }
  a {
      text-decoration-line: none;
      }
h2 {
    margin: 0;
}
ul{padding: 0;}
 /* -------------------헤더-----------------------  */
  #total-header{
    position: sticky;
    top: 0;
    width :1903px;
    height:72px;
    background-color: rgb(255, 255, 255);
    border-bottom-color : rgb(242, 242, 242);
    border-bottom-style : solid;
    border-bottom-width : 1px;
    z-index: 1;
  }
  #soomgo-header{
      width: 100%;
      width : 972px;
      height : 72px;
      margin-left : 464px;
      margin-right : 466.5px;
      background-color: rgb(255, 255, 255);
      border-bottom-color : rgb(242, 242, 242);
      border-bottom-style : solid;
      border-bottom-width : 1px;
  }
  #soomgo-header1{
      width : 79.5px;
      height : 27px;
      float : left;
      margin-top : 22.5px;
      margin-left : 2.5px 
  }
  #soomgo-menu1{
      width : 264.13px;
      height : 28.16px;
      float : left; 
      margin-top : 26.5px;
      margin-left : 29.5px;
  }
  #soomgo-request{
      width : 63.89px;
      height : 24px;
      float : left;
      line-height: 120%;
  }
  #soomgo-serch{
      width : 63.89px;
      height : 24px;
      float : left;
      margin-left : 13px;
      line-height: 120%;
  }
  #soomgo-market{
      width : 33.45px;
      height : 24px;
      float : left;
      margin-left : 13px;
      line-height: 120%;
  }
  #soomgo-community{
      width : 60.89px;
      height : 24px;
      float : left;
      margin-left : 14px;
      line-height: 120%;
  }
  #soomgo-header-serch{
      background-color : rgb(242, 242, 242);
        width: 280px;
        height :40px;
        float :left;
        margin-left : 55.5px;
        margin-top : 15.5px;
        border-radius: 6px
  }
  #reading-glasses-img{
        width:24px;
        height :40px;
        float:left;
        padding-top :9px;
        padding-bottom: 8px;
        margin-left: 12px;
  }
  #serch-input-outter{
    background-color : rgb(242, 242, 242);
    width:224px;
    height :38px;
    float:left;
    margin-left: 5px;
    margin-top : 3px;
  }
  .serch-input{
    background-color :rgb(242, 242, 242);
    width:224px;
    height :38px;
    border: none;
    font-size:.875rem;
  }
  #soomgo-menu2{
      width : 202.17px;
      height : 36px;
      float : right;
      margin-top : 16px;
      margin-left: 20px;
  }
  #soomgo-login{
      width : 40.64px;
      height : 20px;
      float : left;
      margin-top : 11px;
      margin-left : 0.5px;
      line-height: 100%; 
  }
  #soomgo-join{
      width : 60.53px;
      height : 20px;
      float : left;
      margin-left : 13.8px;
      margin-top : 11px;
      line-height: 100%;
  }
  #soomgo-gosu-join{
      width : 80px;
      height : 36px;
      float : right;
      margin-top : 2px;
      line-height: 35px;
      background-color:#00c7ae;
      border-radius: 6px;
      text-align : center;
  }
  
 /* -------------------여기까지 헤더-------------  */
#div_sticky_nav {
	position: sticky;
	top: 72px;
	z-index: 2;
    left: 0;
    right: 0;
    opacity: 1;
    background-color: #fff;
    
}
#div_sticky_nav > .fixed_show_box{
	height:56px;
	visibility: inital;
	transform: translateV(100%);
	border-bottom: 1px solid rgb(242,242,242);
}
.fixed_wrapper {
	width: 970px;
	height: 56px;
    padding: 16px 0px;
    margin: -1px 466.5px 0px;
	font-size: 16px;
	font-weight: 500;
	float: left;
}
h2 {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.3px;
	line-height: 24px;
	overflow: hidden;
	visibility: visible;
	margin: 0;
	text-align: left;
	float: left;
}
.btn_box {
	height: 24px;
	font-weight: 500;
	line-height: 500;
	align-items: flex-start;
	float: right;;
}
.btn_round {
	padding: 11px 12px;
	margin-left: 20px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDIxYTIgMiAwIDEwMC00IDIgMiAwIDAwMCA0em0wLTdhMiAyIDAgMTAwLTQgMiAyIDAgMDAwIDR6bTAtN2EyIDIgMCAxMDAtNCAyIDIgMCAwMDAgNHoiIGZpbGw9IiMyRDJEMkQiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
	background-repeat: no-repeat;
}
 
  .border2 {
  	border: 1px solid transparent;
  }
#div_post_layout {
 	width: 600px;
 	margin: 0 auto;
 }
#div_post_layout > #div_post_header{
 	width: 600px;
 	background: #FFFFFF;
 	margin: 76px 0px 0px;
    border-bottom: 1px solid rgb(244, 244, 244);
 }
#div_post_layout > #div_post_header > .div_category_subject{
 	width: 600px;
 	height: 22px; 
 	margin: 32px 0px 16px;
 	cursor: pointer;
 }
.category_subject{  /* 커뮤니티 >  text */
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.3px;
	color: rgb(169, 169, 169);
}
.category_subject2{  /* 질문답변 text */
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.3px;
	color: rgb(169, 169, 169);
	margin-left: -5px;
}
.cs_img {   /* > img */
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.3px;
	color: rgb(169, 169, 169);
	margin-top: 3px;
}
#div_post_layout > #div_post_header > #div_post_header_title{
 	margin: 32px 0px 32px;
 }
#div_post_layout > #div_post_header > #div_post_header_title > #div_post_service_name{
 	width: 600px;
 	height: 22px; 
 	margin-bottom: 4px;
 	color: #888888;
 	font-size: 14px;
 	font-weight: 500;
 	letter-spacing: -0.3px;
	line-height: 21.98px;
 }
#div_post_layout > #div_post_header > #div_post_header_title > .header_title{
 	width: 600px;
 	height: 38px; 
 	color: #2D2D2D;
 	font-size: 24px;
 	font-weight: 700;
 	letter-spacing: -0.5px;
	line-height: 38px;
 }
#div_post_layout > #div_post_header > #div_post_header_title > .post_address{
 	color: rgb(136,136,136);
 	font-size: 14px;
 	font-weight: 400;
 	letter-spacing: -0.3px;
	line-height: 21.98px;
	margin: 16px 0px;
 }
#div_uesr_profile {
	display: block;
}
.user_profile_container {
	display: block;
	line-height: 24px;
}
.user_profile_wrapper {
	align-items: center;
	margin-bottom: 24px;
	text-align: left;
    justify-content: space-between;
    display: flex;
}
#div_user_profile_area {
	display: flex;
}
.user_img {
	line-height: 24px;
	overflow-clip-margin: content-box;
	overflow: clip;
	vertical-align: middle;
	width: 44px;
	height: 44px;
	margin: -2px 12px 0px 3px;
    border-radius: 10px;
}
#div_profile_info {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.user_name {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.3px;
	line-height: 24px;
	margin-bottom: 2px;
	text-align: left;
}
.post_date {
	margin-top: 2px;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.2px;
	line-height: 18px;
	color: rgb(136, 136, 136);
}
.post_actions {
	display: block;
	margin-top: 8px;
	cursor: pointer;
}
.icon {
	vertical-align: middle;
	margin-left: 16px;
	cursor: pointer;
	line-height: 24px;
	overflow: clip;
}
.drop_icon {
	display: inline-flex;
	line-height: 24px;
	position: relative;
	text-align: left;
	vertical-align: middle;
}
.drop_btn {
    margin-left: 20px;
	align-items: flex-start;
	appearance: button;
	background-attachment: scroll;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDIxYTIgMiAwIDEwMC00IDIgMiAwIDAwMCA0em0wLTdhMiAyIDAgMTAwLTQgMiAyIDAgMDAwIDR6bTAtN2EyIDIgMCAxMDAtNCAyIDIgMCAwMDAgNHoiIGZpbGw9IiMyRDJEMkQiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
	background-repeat: no-repeat;
	background-size: auto;
}
.post_dropDown_menu {
	display: none;
	position: absolute;
	width: 160px;
	transform: translate3d(-116px, 24px, 0px);
	top: 37%;
	left: 68%;
	will-change: transform;
	padding: 18px 0px;
	margin-top: 4px;
	text-align: center;
	border: 1px solid #e1e1e1;
	list-style: none;
	list-style-position: outside;
	list-style-type: none;
	background-color: white;
}
.presentation {
	list-style: none;
	display: list-item;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.post_dropdown_item {
	padding: 5px 0px;
	font-size: 14px;
	display: block;
	width: 100%;
	font-weight: 400;
	clear: both;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
.post_dropdown_item:hover {
	color: #fff;
	background-color: #00c7ae;
}
.dropdown_greyfilter {
	display: none;
	overflow-y: auto;
 	background-color: rgba(0, 0, 0, 0.4);
	align-items: center;
	display: flex;
	position: fixed;
	z-index: 1060;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	flex-direction: row;
	justify-content: center;
	padding:  10px;
}
.greyfilter_modal {
	padding: 36px 16px 20px 16px;
	margin: 0 auto;
	position: relative;
	flex-direction: column;
	justify-content: center;
	display: flex;
	width: 280px;
	max-width: 280px;
	text-align: left;
	background-color: white;
}
.modal_header {
	align-items: center;
	display: flex;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin: 0 auto;
}
.modal_title {
	display: flex;
	white-space: nowrap;
	margin-bottom: 16px;
	position: relative;
	max-width: 100%;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: -0.4px;
	line-height: 33px;
}
.modal_content {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
	text-align: left;
	z-index: 1;
	display: block;
	justify-content: center;
}
.modal_inner_content {
	display: block;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.2px;
	line-height: 21px;
	text-align: center;
}
.modal_action {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
	font-weight: 400;
	justify-content: center;
	line-height: 24px;
	width: 100%;
}
.modal_confirm_btn {
	display: inline-block;
	border-radius: 4px;
	height: 44px;
	width: 100%;
	border: none;
	justify-content: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	overflow: visible;
	padding: 11px 12px;
	align-items: center;
	background-color: rgb(0,199,174);
	color: rgb(255,255,255);
	cursor: pointer;
	display: block;
}
.modal_cancel_btn {
	align-items: center;
	border-radius: 4px;
	color: rgb( 181,181,181);
	cursor: pointer;
	display: block;
	font-size: 12px;
	font-weight: 500;
	justify-content: center;
	height: 18px;
	border: none;
	margin-top: 12px;
	overflow: visible;
	text-align: center;
	width: 248px;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0);
}

#div_body_content {
	display: flex;
	flex-direction: column;
}
.contents {
	/* 게시글 내용을 담는 div */
	display: block;
	line-height: 24px;
	margin: 32px 0px;
}
.contents-text {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -0.3px;
	line-height: 24px;
	text-align: left;
	text-wrap : wrap;
}
.div_content_img {
	display: flex;
	flex-wrap: wrap;
	line-height: 24px;
	margin:24px 0px 24px;
}
.img_wrapper {
    display: grid;
	width: 100%;
	margin: 0;
	padding: 0;
}
.content_img_box{
	display: flex;
	grid-column-end: auto;
	grid-column-start: span 36;
	grid-row-end: span 2;
	grid-row-start: 1;
	line-height: 24px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 6px;
	margin-right: 3px;
	max-height: 286px;
	max-width: 454px;
	text-align: left;
}
.content_img {
	border: 1px solid rgb(244,244,244);
	border-radius: 8px;
	border-image-repeat: stretch;
	cursor: pointer;
	width: 100%;
	height: 100%;
	line-height: 24px;
	max-height: inherit;
	object-fit: cover;
	overflow-clip-margin: content-box;
	overflow: clip;
	vertical-align: middle;
	
}
#div_post_like_comment {   /* 좋아요, 댓글 div를 담을 div */
	align-items: center;
	display: flex;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	width: 600px;
	border-bottom: solid 1px #f2f2f2;
}
.post_comments_container {
/* 	댓글 input창부터 댓글,대대글을 담는 div */
	display: block;
	line-height: 24px;
	margin-bottom: 200px;
	position: relative;
	text-align: left;
	width: 100%;
}
.div_like {   /* 좋아요 div */
	align-items: center;
	display: flex;
	line-height: 21px;
	gap: 4px;
	text-align: left;
	margin-right: 25px;
	padding: 17px 0px;
	font-size: 14px;
	font-weight: 500;
	color: rgb(106, 118, 133);
	cursor: pointer;
}
.hidden{display:none;}  /* 좋아요 이미지 숨기기 위함 */
.div_like.on {
	color:#1aa69d;
}
.like_img {	 /* 좋아요이미지 기본 색상 */
 	filter: greyscale(100%); /*기본 회색 이미지 */
 	opacity: 0.7;
}
.like_img.on{  /* 좋아요이미지 좋아요 적용 색상 */
	display: none;
	fileter: #1aa69d;
	opacity: 0.7;
}
.div_comment {   /* 댓글 div */
	display: flex;
    gap: 4px;
	padding: 17px 0px;
	font-size: 14px;
	font-weight: 500;
	color: rgb(106, 118, 133);
}
.comment_img {
	margin-top: 2px;
}
.post_commenets_container {
	margin-bottom: 200px;
}
#div_best {
	width: 600px;
	height: 45px;
	border-radius: 8px;
	margin: 20px 0px 12px;
	padding: 12px;
	background: #F6F7F9;
	display: flex;
	justify-content: space-between;
}
#div_best > .img1 {
	width: 21px;
	height: 21px;
}
#div_best > #div_text{
	width: 528px;
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	text-align: left;
}
#div_best > .img2 {
	width: 21px;
	height: 21px;
}

.div_comment_input_box {
	/* 댓글 입력창 박스 */
	width: 600px;
	height: 58px;
	background: #FFFFFF;
	padding: 17px 14px;
	border-color: rgb(242, 242, 242);
	border-radius: 8px;
	margin: 0px 0px 20px;
	border: .0625rem solid #f2f2f2;
	position: relative;
	
}
.div_comment_input_box.reply {
	/* 대댓글 입력창  박스*/
	display: none;
	widtH: 600px;
	height: 58px;
	background: #FFFFFF;
	padding: 17px 14px;
	border-color: rgb(242, 242, 242);
	border-radius: 8px;
	margin: 0px 0px 20px;
	border: .0625rem solid #f2f2f2;
}
.div_comment_input_box.child {
	/* 대댓글 입력창  박스*/
	display: none;
	widtH: 600px;
	height: 58px;
	background: #FFFFFF;
	padding: 17px 14px;
	border-color: rgb(242, 242, 242);
	border-radius: 8px;
	margin: 0px 0px 20px;
	border: .0625rem solid #f2f2f2;
}
.div_comment_input_box > img {
	width: 30px;
	height: 30px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: -3px 14px 0px 0px;
	float: left;
}

.comment_cancel_layout {
	/* 댓글달기 재선택시 댓글작성 취소 팝업 */
    background-color: rgba(0, 0, 0, .4);
	padding: 10px;
	flex-direction: row;
	overflow: hidden;
	position: fixed;
	z-index: 1060;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}
.comment_cancel_layout > .comment_cancel_box {
	justify-content: center;
	width: 280px;
	padding: 36px 16px 20px 16px;
	background-color: rgb(255,255,255);
	position: relative;
	margin: auto;
	top: 35%;
}
.cancel_header {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.cancel_header > .header_text {
	display: flex;
	flex-direction: column;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: -0.4px;
	line-height: 33px;
	margin-bottom: 16px;
	position: relative;
	text-align: center;
}
.cancel_content {
	display: block;
	justify-content: center;
	z-index: 1;
	font-size: 14px;
	margin-bottom: 20px;
}
.cancel_content > .content_text {
	display: block;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.2px;
	line-height: 21px;
	text-align: center;
}
.cancel_actions {
	align-items: center;
/* 	font-size: 16px; */
/* 	font-weight: 400; */
	justify-content: center;
/* 	line-height: 24px; */
/* 	width: 248px; */
	z-index: 1;
}
.cancel_actions > .confirm_btn {
	background-color: rgb(0,199,174);
	color: white;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	height: 44px;
	cursor: pointer;
	display: block;
	justify-content: center;
	line-height: 21px;
	overflow: visible;
	text-align: center;
	width: 248px;
	border: none;
}
.cancel_actions > .cancel_btn {
	color: rgb(181, 181, 181);
	display: block;
	cursor: pointer;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	height: 44px;
/* 	justify-content: center; */
	line-height: 21px;
	overflow: visible;
	text-align: center;
	width: 248px;
	border: none;
} 

.reply_user_name {
	/* 대댓글시 대댓글 달 유저 이름 뜨는 텍스트 */
	/* display: none; */
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.3px;
	line-height: 27px;
	text-wrap: nowrap;
	color: rgb(0, 199, 174);
    vertical-align: top;
}
.comment_text {
	/* 댓글 텍스트 */
	min-width:350px;
	overflow: hidden; 
	resize: none;
	font-size: 14px;
	font-weight: 400;
	border: none;
	font-family: inherit;
	line-height: 20px;
	/* text-indent: 80px; */  /* 대댓글시 작성자명과 잇풋창 간격 */
}
textarea{outline:none;}
.comment_keyUp {
	/* 입력창 입력시 등록 문구 */
	float: right;
	color: rgb(0, 199, 174);
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.3px;
	line-height: 22px;
	margin-left: 14px;
	display: none;	
	border: none;
    background: white;
}
.div_post_reply_comment {
	/* 댓글/ 대댓글을 담을 div */
	/* display: flex; */
	fiex-direction: column;
	line-height: 24px;
	text-align: left;
}

/* 댓글박스 */
 .div_post_comment {		
 	/* 댓글창 하나의 모든정보를 담을 div */
	width: 600px;
	min-height: 150px;
	padding: 20px 24px;
	margin-top: 10px;
}
 .div_post_comment  > .div_profile_img{
 	/* 댓글을 단 유저 img를 담을 div*/
	width: 32px;
	/* height: 224px; */
	float: left;
	cursor: pointer;
}
.profile_img {
	/* 유저 img 사이즈가 안 먹혀서 html에서 style로 적용 왜안되는지??????*/
	width: 100%;
	height: 32px;
	object-fit:cover;
}
.div_post_comment  > .div_comment_info {
	/* 고수명, 서브스명 댓글내용 등록시간, 댓글달이 도움이돼요 버튼을 담을 div */
	width: 505px;
	/* height: 224px; */
	margin: 0px 0px 0px 12px;
	float: left;
}
.div_post_comment  > .div_comment_info > .div_user_info{
	/* 고수명, 서비스명 견적요청 버튼을  담을 div */
	width: 505px;
	height: 37px;
	margin: 0px 0px 12px;
	float: left;
	cursor: pointer;
}
.div_post_comment  > .div_comment_info > .div_user_info > .user_info {
	/* 고수명, 서비스명등을 담을 div */
	width: 136px;
	height: 40px;
	float: left;
}
.div_post_comment  > .div_comment_info > .div_user_info > .user_info > .user_name {
	/* 댓글 단 고수명 */
	width: 76px;
	height: 22px;
	float: left;
	font-size: 14px;
	font-weight: 700;
	height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0;
    cursor: pointer;
}
.div_post_comment  > .div_comment_info > .div_user_info > .user_info > .user_service {
	/* 고수의 서비스 이름 */
	width: 136px;
	height: 18px;
	float: left;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.2px;
	line-height: 18px;
	height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.div_post_comment  > .div_comment_info > .div_user_info > button {  
/* 견적요청 버튼 */
	float: right;
	color: #00C7AE;
	background: #EAFAF9;
	margin: 0px 0px 0px 36px;
	padding: 5px 8px;
	border:none;
	border-radius: 6px;
	cursor: pointer;
	font-weight: 800;
}
.div_content_span {	 
/* 댓글내용 */
	width: 505px;
	height: 90px;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	letter-spacing: -0.3px;
	line-height: 24px;
	float: left;
}
.div_post_comment_actions {
	/* 등록일시, 댓글달기 버튼, 도움이 돼요 버튼을 담을 div */
	width: 508px;
	height: 79px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	float: left;
}
.div_post_comment_actions > .div_comment_date {
	/* 댓글 등록일시와 점점쩜 담을 div */
	width: 508px;
	height: 24px;
	margin: 15px 0px 0px;
	float: left;
}
.div_comment_date > .div_date{
	/* 댓글 등록일시 div */
	font-size: 12px;
	font-weight: 400;
	color: #A9A9A9;
	letter-spacing: -0.2px;
	line-height: 18px;
	float: left;
	margin-top: 2px;
}
.div_option{
	/* 세로점 담을 div */
	width: 44px;
	height: 24px;
	float: right;
}
.div_icon2 > .op_img {     
	/* 세로점 3개 */
	margin-left: 20px;
	padding: 11px 12px;
	float: right;
	margin-top: -12px;
	cursor: pointer;
}
.div_post_comment_actions > .div_comment_action_container {
	/* 댓글달기, 도움이돼요 버튼을 담을 div */
	width: 508px;
	height: 28px;
	float: left;
	display:flex;
	column-gap: 12px;
	margin-top: 10px;
}
.div_comment_action_container > button:nth-child(1){
	/* 댓글달기 버튼  */
	width: 85px;
	height: 28px;
	padding: 0px 8px;
	color: #6A7685;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 700;
	font-stretch: 100%;
	color: rgb(106, 118, 133);
	line-height: 18px;
	background-color: white;
	border: 1px solid rgb(224, 229, 235);
	cursor: pointer;
}
.active {
	display: none;
}
button:nth-child(1) > img {
	/* 댓글 이미지 */
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 1px;
}
.div_comment_action_container > button:nth-child(2) {
	/* 도움이돼요 버튼 */
	min-width: 99px;
	height: 28px;
	padding: 0px 8px;
	color: #6A7685;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 700;
	font-stretch: 100%;
	color: rgb(106, 118, 133);
	line-height: 18px;
	background-color: white;
	border: 1px solid rgb(224, 229, 235);
	margin-top: 2px;
	cursor: pointer;
}
button:nth-child(2) > img {
	/* 도움이 돼요 이미지 */
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 1px;
}
ul,li {margin-bottom:0;}
.comment_reply_list {
	/* 대댓글들을 담을 ul */
	display: block;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: circle;
}
.comment_reply_list_item {
	/* 대댓글들을 담을  li */
	display: list-item;
	line-height: 24px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-left: 32px;
}
.comment_reply {
	/* 대댓글들을 담을 div */
	display: flex;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 20px 24px;
	text-align: left;
}
.comment_reply_profile_img {
	/* 대댓글의 유저이미지를 담을 div */
	display: block;
	width: 30px;
	height: 30px;
	overflow: clip;
	border-radius: 8px;
}
.comment_infor {
	/* 대댓글 정보를담을 div */
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 400;
	justify-content: center;
	line-height: 24px;
	margin-left: 12px;
	text-align: left;
	width: 476px;
}
.comment_user_infor {
	/* 대댓글 유저명을 담을 div */
	align-items: flex-start;
	display: flex;
	font-size: 16px;
	font-weight: 400;
	justify-content: space-between;
	line-height: 24px;
	margin-bottom: 12px;
	text-align: left;
}
.comment_user_info_wrapper {
	/* 대댓글 유저명을 담을 div2 */
	display: flex;
	flex-direction: column;
	margin-top: -3px;
}
.comment_user {
	/* 유저명 작성란 */
	align-items: center;
	display: flex;
}
.comment_user_name {
	/* 유저명 작성 span */
	display: block;
	font-size: 14px;
	font-weight: 700;
	height: 22px;
	letter-spacing: -0.3px;
	line-height: 22px;
	overflow: heidden;
	text-align: left;
	text-overflow: ellipsis;
	text-wrap: nowrap;
	white-space-collapse: collapse; 
}
.comment_badge {
	/* 작성자 텍스트 입력란 */
	align-items: center;
	border-radius: 4px;
	color: rgb(120,120,120);
	display: block;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.3px;
	line-height: 18px;
	margin-left: 4px;
	text-align: center;
	text-wrap: nowrap;
	vertical-align: baseline;
	white-space-collapse: collapse;
}
.comment_contents {
	/* 댓글 내용을 담을 div */
	column-gap: 4px;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	row-gap: 4px;
	text-align: left;
}
.contents_text {
	/* 부모댓글 작성잘명을 띄우는 span */
	color: rgb(136,136,136);
	display: block;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.3px;
	line-height: 22px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-wrap: wrap;
}
.text_comment{
	/* 작성한 댓글을 나타내는 <p> */
	display: block;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.3px;
	line-height: 24px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-size-adjust: 100%;
	text-wraq: wrap;
}
.post_comment_actions {
	/* 작성일자 , 댓글달기, 도움이돼요를 담을 div */
	column-gap: 12px;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	row-gap: 12px;
	text-align: left;
}
.comment_write_date {
	/* 댓글 작성일자를 담을 div */
	align-items: center;
	color: rgb(45,45,45);
	display: flex;
	font-size: 12px;
	font-weight: 400;
	justify-content: space-between;
	letter-spacing: -0.2px;
	line-height: 18px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-top: 15px;
	text-align: left;
	text-size-adjust: 100%
}
.comment_write {
	/* 작성일자를 적을 span */
	color: rgb(169,169,169);
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.2px;
	line-height: 18px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
}
.dropdown {
	/* 점3개 버튼을 담을 div */
	display: flex;
	position: relative;
	vertical-align: middle;
}
.dropdown_btn {
	/* 점3개 버튼 */
	align-items: flex-start;
	background-attachment: scroll;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOS4zNzEgMy4zMzMpIiBmaWxsPSIjQzVDNUM1IiBzdHJva2U9IiNDNUM1QzUiIHN0cm9rZS13aWR0aD0iMS41IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxjaXJjbGUgY3g9Ii44MzMiIGN5PSI2LjY2NyIgcj0iMSIvPjxjaXJjbGUgY3g9Ii44MzMiIGN5PSIuODMzIiByPSIxIi8+PGNpcmNsZSBjeD0iLjgzMyIgY3k9IjEyLjUiIHI9IjEiLz48L2c+PC9zdmc+");
	background-repeat: no-repeat;
	background-size: auto;
	background-color: rgb(115,115,115);
	border-radius: 4px;
	color: rgb(115,115,115);
	cursor: pointer;
	display: block;
	flex-basis: auto;
	height: 24px;
	overflow: visible;
	position: relative;
	width: 24px;
    background-color: white;
    border: none;
}
.drop_down_menu {
	/* 점3개 클릭시 팝업창 */
	background-color: rgb(255,255,255);
	border-radius: 4px;
	border: 1px solid rgb(225,225,225);
	display: none;
	font-size: 16px;
	font-weight: 400;
	left: auto;
	letter-spacing: -0.2px;
	line-height: 24px;
	margin-top: 4px;
	min-width: 160px;
	padding: 18px 0px;
	text-align: center;
	top: 100%;
}
.menu {
	/* 팝업창 */
	display: list-item;
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
}
.dropdown_item {
	clear:both;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.2px;
	line-height: 21px;
	padding: 5px 0px;
	width: 100%;
}
.comment_footer {
	display: flex;
	column-gap: 12px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	position: relative;
	row-gap: 12px;
	text-align: left;
}
.comment_footer > button {
	align-items: center;
	border-radius: 4px;
	border: 1px solid rgb(224,229,235);
	color: rgb(106,118,133);
	column-gap: 4px;
	cursor: pointer;
	display: flex;
	font-size: 12px;
	font-weight: 700;
	height: 28px;
	line-height: 18px;
	overflow: visible;
	row-gap: 4px;
	text-align: left;
    background: white;
}
.comment_img {
	color: rgb(106,118,133);
	cursor: pointer;
	fill: none;
	height: 16px;
	overflow-clip-margin: content-bax;
	overflow: hidden;
	text-align: center;
	text-indent: 0px;
	width: 16px;
}
b




 /*------------ #div_post_layout -------------------------
 댓글 늘어날때마다 min-height로 자동으로 늘어나려 하는데 안됨. 마진bottom 200 밑에 ai추천글 */

#div_related__posts {
	/* 댓글 아래 ai추천 글 */
	width: 600px;
	height: 299px;
	padding: 40px 0px;
    margin: 80px auto 0;
}
.headline {
	margin-bottom: 20px;
	display: block;
	line-height: 24px;
	
}
#div_related__posts > span {
	/* 추천글 헤드라인 파란박스 */
	padding: 1px 6px 2px 6px;
	font-size: 12px;
	margin: 0px 8px 20px 0px;
	color: white;
	font-weight: 500;
	letter-spacing: -0.3px;
	line-height: 18px;
	border-radius: 4px;
	background-color: rgb(80, 128, 250);
	float: left;
}
#div_related__posts > h2 {
	/* 추천글 헤드라인 */
	font-size: 16px;
	margin: 0px 0px 20px;
	color: #2D2D2D;
	font-weight 700;
	letter-spacing: -0.3px;
	line-height: 24px;
	float: left;
}
#div_related__posts > #div_ui {
	/* ai 추천글3개를 담을 div */
	width: 100%;
	padding-bottom: 40px;
	display: flex;
    flex-direction: column;
    gap: .5rem;
}
#div_related__posts > #div_ui > span {
	/* ai 추천글 1/3 */
	width: 600px;
	height: 53px;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	background: #F4F4F4;
	padding: 16px;
	border-radius: 14px;
	display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.a_img {
	/* 화살표 */
	width: 20px;
	height: 20px;
}
#div_popular_provider {
	/* 인기고수 슬라이드 리뷰 담을 div */
	width: 600px;
	height: 341px;
	padding: 40px 0px 28px;
	margin: 0 auto;
}
#div_popular_provider > #div_popular_provider_heading {
	/* 인기고수 추천, 전체보기 text 담을 div */
	width: 600px;
	height: 48px;
	display:flex;
	justify-content: space-between;
	margin-bottom: 8px;
}
#div_popular_provider > #div_popular_provider_heading > div:nth-child(1) {
	/* '인기고수 추천 text' */
	height: 48px;
	font-size: 16px;
	color: #2D2D2D;
	font-weight: 700;
	letter-spacing: -0.3px;
	line-height: 24px;
	display: flex;
}
#div_popular_provider > #div_popular_provider_heading > div:nth-child(2) {
	/* 전체보기 text */
	width: 55px;
	height: 48px;
	font-size: 14px;
	display: flex;
	color: #888888;
	cursor: pointer;
}
#div_popular_provider > #div_content {
	/* 슬라이드 2개씩 보여지게 담을 div */
	width: 600px;
	height: 217px;
	float: left;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
#div_popular_provider > #div_content > button{
	/* 슬라이드 버튼 만들어야함 */
}
#div_popular_provider > #div_content > .div_slide {
	/* 슬라이드 div */
	width: 300px;
	height: 217px;
	padding: 12px;

}
#div_popular_provider > #div_content > .div_slide > .div_slide_inner {
	/* 슬라이드 이너 */
	width: 274px;
	height: 191px;
	padding: 16px;
	border-radius: 8px;
	border: 1px solid black;
}
#div_popular_provider > #div_content > .div_slide > .div_slide_inner > .div_profile_container {
	/* 프로필 이미지, 고수명, 고수경력 담을 div */
	width: 242px;
	height: 48px;
	float: left;
	margin-bottom: 16px;
}
.profile_img {
	/* 유저 프로필 이미지 */
	width: 46px;
	height: 46px;
	background: #E1E1E1;
	border: 1px solid rgb(242, 242, 242);
	border-radius: 50%;
	margin-right: 5px;
	float: left;
	cursor: pointer;
}
.profile_title {
	/* 고수명 담을 div */
	width: 113.06px;
	height: 20px;
	color: #323232;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.5px;
	line-height: normal;
	margin:0px 8px 0px 0px;
	float: left;
	cursor: pointer;
}
.profile_subtitle {
	/* 고수 동네, 경력 text 담을 div*/
	width: 143px;
	height: 18px;
	color: #737373;
	font-size: 12px;
	font-weight: 400;
	float: left;
	cursor: pointer;
}
#div_popular_provider > #div_content > .div_slide > .div_slide_inner > .div_review_container {
	/* 별점, 리뷰내용 담을 div */
	width: 242px;
	height: 95px;
	padding: 12px;
	clear:both;
	border-radius: 8px;
    background: #fffaea;
    cursor: pointer;
}
#div_popular_provider > #div_content > .div_slide > .div_slide_inner > .div_review_container > .div_pro_rate {
	/* 별이미지, 별점 담을 div */
	width: 218px;
	height: 21px;
	display: flex;
	align-content: center;
	margin-bottom: 8px;
}
.avg_score {
	/* 별 이미지 */
	width: 14px;
	height: 14px;
	display:block;
	align-items: center;
	margin-right: 2px;
	margin-top: 1px;
	display: flex;
}
.score {
	/* 별점 */
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	width: 8px;
	height: 19px;
	display: flex;
}
.review_comment {
	/* 리뷰 내용 */
	width: 218px;
	height: 42px;
	font-size: 14px;
	color: #323232;
	font-weight: 500;
	line-height: 21px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	 display: -webkit-box;
  	-webkit-line-clamp: 2;
  	 -webkit-box-orient: vertical;
}
#div_recommend_request {
	width: 600px;
	height: 248px;
	padding: 40px 0px;
	margin: 0 auto;
}
#div_recommend_request > #div_recommend_request_header {
	width: 600px;
	height: 48px;
	margin: 0px 0px 20px;
	display: flex;
	justify-content: space-between;
}
#div_recommend_request > #div_recommend_request_header > #div_title{
	width: 205px;
	font-size: 16px;
	color: #2D2D2D;
	font-weight: 700;
	letter-spacing: -0.3px;
	line-height: 24px;
}
#div_recommend_request > #div_recommend_request_header > #div_view_total {
	width: 52px;
	font-size: 14px;
	color:#888888;
	font-weight: 400;
	height: auto;
	letter-spacing: -0.3px;
	line-height: 22px;
	text-align: left;
	white-space: nowrap;   /* 글자길이 넘어도 줄바꿈 되지 않음 */
	cursor: pointer;
}
#div_recommend_request > #div_request_list {
	margin-bottom: 16px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 8px;
	row-gap: 12px;
	text-align: left;
}
#div_recommend_request > #div_request_list > a {
	width: auto;
	height: auto;
	padding: 4px 11px 6px;
	border-radius: 41px;
	border:  1px solid rgb(244, 244, 244);
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	cursor: pointer;
}
#div_popular_post {
	width: 600px;
	padding: 40px 0px 160px;
	position: relative;
	text-align: left;
	line-height: 24px;
	margin: 0 auto;
}
#div_popual_post > #div_post_heading {
	width: 600px;
	height: 24px;
	margin-bottom: 12px;
}
.h2 {
	display: block;
	color: rgb(45, 45, 45);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.3px;
	line-height: 24px;
	margin-bottom: 12px;
	text-align: left;
}
.div_curation_list {
	border-bottom: 1px solid rgb(244, 244, 244);
	width: 600px;
	height: 117px;
	margin-bottom: 2px;
	padding: 12px 2px;
	float: left;
	border-bottom: 1px solid rgb(244, 244, 244);
}
.div_curation_list > .div_curation {
	width: 518px;
	float: left;
	cursor: pointer;
}
.div_curation_list > .div_curation > .topic_name {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	margin: 0px 0px 5px;
	color: #737373;
}
.div_curation_list > .div_curation > .curation_title {
	margin: 0px 0px 3px;
	color: #323232;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
}
.div_curation_list > .div_curation > .curation_content {
	font-size: 14px;
	color: #737373;
	font-weight: 400;
	line-height: 21px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.div_curation_list > .div_curation > .curation_reaction {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	display: flex;
	margin-top: 6px;
}

.view_img {
	width: 16px;
	height: 16px;
	margin: 1px 4px 0px 0px;
	display: flex;
	cursor: pointer;
}
.view_count {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.2px;
	line-height: 18px;
	display: flex;
	color: #C5C5C5;
	cursor: pointer;
}
.comment_img {
	width: 16px;
	height: 16px;
	margin: 1px 4px 0px 0px;
	display: flex;
	margin: 1px 4px 0px 15px;
	cursor: pointer;
}
.comment_count {
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
    color: rgb(106, 118, 133);
}
.post_img {
	width: 64px;
	height: 64px;
	border-radius: 8px;
    border: .0625rem solid #f4f4f4;
    float: right;
    align-items: center;
    margin-top: 13px;
    cursor: pointer;
}



/* 	================아래부터 알림css================ */
	.notification {
		cursor: pointer;
		display: block;
		margin-left: 16px;
		position: relative;
		text-align: center;
	}
	.notification-overlay {
	    position: absolute;
	    top: 38px;
	    right: -88px;
	    width: 350px;
	    height: 702px;
	    background: #fff;
	    border: 1px solid #f2f2f2;
	    border-radius: 8px;
	    box-shadow: rgba(50, 50, 50, 0.3) 0px 18px 40px -12px;
	    margin-bottom: 16px;
	    overflow: visible;
	    cursor: pointer;
	    display: none;
	}
	.notification-overlay::before {
	    content: "";
	    cursor: pointer;
	    position: absolute;
	    top: -9px;
	    right: 90px;
	    width: 18px;
	    height: 10px;
	    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxMCI+PGcgZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNOS4wNSAxbDcuODUgOC42SDEuMnoiLz48cGF0aCBzdHJva2U9IiNGMkYyRjIiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0xIDlsOC04IDggOCIvPjwvZz48L3N2Zz4=) no-repeat;
	}
	.div_notice_box {
		height: 100%;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
	.overlay_header {
		padding: 24px 24px 8px;
		display: flex;
		justify-content: space-between;
	}
	.h2{
		margin: 0;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		text-align: left;
		letter-spacing: -0.5px;
	}
/* 	전체읽음 버튼 */
	.all-read {
		background-color: rgb(0, 199, 174);
  		color: white; 
  		border: none;
		border-radius: 6px;
		padding: 5px 10px;
		cursor: pointer;
		font-size: 14px;
		font-weight: 600;
		height: 40px;
	}
	.all-read:hover {
  		background-color: red; 
	}
	.confirm {
		display: none;
		width: 300px;
		height: 100px;
	    padding: 10px;
	    text-align: center;
	    background-color: #fff;
	    border: 1px solid black;
	    border-radius: 5px;
	    position: absolute;
	    top: 30%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    box-shadow: 0 0 10px rgba(0,0,0,0.1);
	}
	.confirm-btn, .cancel-btn {
	    background-color: rgb(0,199,174);
	    color: white;
	    border: 1px solid black;
	    border-radius: 3px;
	    padding: 5px 10px;
	    cursor: pointer;
	    font-size: 14px;
	    margin: 20px 10px 0px;
	}
	.confirm-btn:hover, .cancel-btn:hover {
  	background-color: #cfe9d6;
	}
	.overlay-body {
		height: 636px;
		overflow: auto;
		
	}
	.user-notice {
		/* 하나의 알림창 정보를 담는 div */
	    padding: 24px;
	    overflow-y: auto;
	}
	.user-notice > ul {
		margin: 0px;
		padding: 0px;
		list-style-type: none;  /* 리스트(알림) 앞에 . 없애기 */
	}
	.user-notice > ul > li {
		padding:0px;
	}
	.user-notice-item {
		margin-bottom: 24px;
		border-bottom: 1px solid rgb(242,242,242);
		cursor: pointer;
		display: block;
		background-color: #fff;
		padding-bottom: 24px;
	}
	a{text-decoration-line: none;}
	.div_row_info {
		cursor: pointer;
		display: flex;
		flex-wrap: wrap;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
	}
	.div_row_info > .div_notice_text_box {
		border-radius: 4px;
		cursor: pointer;
		display: flex;
		flex-basis: 0px;
		flex-grow: 1;
		font-size: 12px;
		font-weight: 500;
		max-width: 100%;
		padding: 2px 0px;
		position: relative;
		text-align: center;
		width: 100%;
	}
	.type {
		padding: 0;
	}
	.notice_text {
		background-color: rgb(234, 250, 249);
		border-radius: 11px;
		color: rgb(0, 199, 174);
		cursor: pointer;
		display: inline-block;
		font-size: 10px;
		font-weight: 500;
		height: 22px;
		line-height: 22px;
		list-style-image: none;
		list-style-position: outside;
		list-style-type: none;
		text-align: center;
		width: 32px;
	}
	
	.div_row_info > .div_notice_date {
		padding-left: 0px;
		text-align: right;
		line-height: 22px;
		position: relative;
		font-size: 12px;
		font-weight: 400;
		color: rgb(115,115,115);
		
	}
	.div_row_content {
		position: relative;
		overflow: hidden;
		margin-top: 8px;
		text-align: left;
		color: rgb(50,50,50);
	}
	.div_row_content > .div_text {
		display: flex;
		color: rgb(50,50,50);
		width: 241px;
		position: relative;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		cursor: pointer;
	}
	.title {
		width: 100%;
		max-height: 48px;
		text-align: left;
		letter-spacing: -0.4px;
	    display: -webkit-box;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    position: relative;
	    margin: 0;
	    padding-left: 8px;
	    transform: translateX(-.5rem);
	    font-weight: 500;
	}
	.content {
		margin-top: 4px;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		max-height: 36px;
		overflow: hidden;
		text-align: left;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	    color: #737373;
	    margin: 4px 0px 0px;
	}
	.btn_wrapper {
		align-content: center;
		max-width: 42px;
		position: relative;
		text-align: center;
		cursor: pointer;
		float: right;
		margin-top: -20px;
		background-color: white;
		border: none;
	}
	.div_more_btn {
		align-items: flex-start;
		height: 100%;
		color: #00c7ae;
		font-size: 14px; 
		font-weight: 500;
		padding: 0;
		margin: 0;
		border: 0;
		border-radius: 4px;
		text-align: center;
		
	}

















