@charset "UTF-8";
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
	
	*{ box-sizing: border-box; margin: 0; padding: 0; word-break: break-word; 
	font-family: "Noto Sans KR", "Malgun Gothic", -apple-system, "Segoe UI", Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	}
	
	body{ font-family: "Noto Sans KR", "Malgun Gothic", -apple-system, "Segoe UI", Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";  overflow-x: hidden; overflow-y: auto;}
	
	.center{ margin: 0 auto; }
	
	.border{ border: 1px solid red; }
	
	.border_lightgrey{ border: 1px solid lightgrey; }
	
	.fl{ float: left; }
	
	.fr{ float: right; }
	
	.lightgrey{ color: #b9b7b7; }
	
	.font-color{ color: #737373; }
	
	.border_radius{ border-radius: 8px; }
	
	.sticky{ position: sticky; top: 104px; }
	
	.box img { /* hover 뒤 애니메이션 */
    	transform: scale(1.0); /* 이미지 확대 */
    	transition: transform .5s; /* 시간 설정 */
	}
 
	.box img:hover {    /* hover 시 애니메이션 */
    	transform: scale(1.08);   /* 이미지 확대 */
    	transition: transform .5s;  /* 시간 설정 */
	}	
	
	.box button {
    	transition: .5s;
	}
	
	.box button:hover {
		background-color: rgb(226, 226, 226);
		transition: .5s;
	}
	
	.box button:active {
		background-color: rgb(234, 250, 249);
		border: 0px none rgb(0, 199, 174);
		color: rgb(0, 199, 174);
	}
	
	/* 	input x표시 없애기 */
	input::-ms-clear,input::-ms-reveal {display: none; width : 0; height: 0;}input::-webkit-search-decoration,input::-webkit-search-cancel-button,input::-webkit-search-results-button,input::-webkit-search-results-decoration { display: none; }
	
	#app {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		font-weight: 400;
		justify-content: space-between;
		line-height: 24px;
		min-height: 100%;
		text-align: left;
		width: 100%;
	}
	
	#app > #header {
		background-color: rgb(255, 255, 255);
		border-bottom: 1px solid rgb(225, 225, 225);
		top: 0px;
		position: sticky;
		z-index: 1020;
		display: block;
	}
	
	#app > #header > #app-header {
		background-color: rgb(255, 255, 255);
		border-bottom: 0px none rgb(50, 50, 50);
		text-align: left;
		display: block;
		height: 72px;
	}
	
	#app-header > #global-navigation-bar {
		border-bottom: 0px none rgb(50, 50, 50);
		color: rgb(50, 50, 50,);
		display: flex;
		height: 72px;
		justify-content: center;
		text-align: center;
		position: relative;
		z-index: 3000;
	}
	
	#global-navigation-bar > #desktop-header {
		align-items: center;
		display: flex;
		height: 72px;
		justify-content: space-between;
		width: 970px;
	}
	
	#desktop-header > #left-section {
		display: flex;
	}
	
	#left-section > #logo {
		margin-right: 30px;
		display: block;
	}
	
	#logo > a > img{
		cursor: pointer;
		height: 27px;
		vertical-align: middle;
	}
	
	#left-section > nav {
		display: block;
		text-align: center;
	}
	
	#left-section > nav > #nav-left-list {
		display: flex;
		list-style-type: disc;
	}
	.left-item-margin{
		margin-left: 18px;
	}
	.nav-left-section-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-size: 16px;
		font-weight: 500;
		justify-content: center;
		line-height: 24px;
		list-style-type: none;
		position: relative;
		text-align: center;
	}
	
	#desktop-header > #center-section {
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
	}
	
	#desktop-header > #center-section > #service-searcher-desktop {
		display: block;
		height: 40px;
		position: relative;
		width: 280px;
	}
	
	#service-searcher-desktop > #global-search-bar {
		height: 40px;
		width: 280px;
	}
	
	.global-search-bar-input-group {
		align-items: stretch;
		background-color: rgb(242, 242, 242);
		border-radius: 6px;
		color: rgb(50, 50, 50);
		display: flex;
		height: 40px;
		display: flex;
		flex-wrap: wrap;
		padding: 0px 12px;
		position: relative;
		text-align: center;
		width: 280px;
	}
	
	.search-bar-input-group-prepend {
		background-color: rgba(0, 0, 0, 0);
		border: 0px none;
		cursor: pointer;
		display: flex;
		padding-right: 8px;
		text-align: center;
	}
	
	.input-group-prepend-img {
		max-width: 100%;
		margin: 8px 0px;
		vertical-align: middle;
	}
	
	.form-control {
		outline: none;
		border: 0px none;
		background-color: rgb(242, 242, 242);
		caret-color: rgb(0, 199, 174);
		cursor: text;
		display: block;
		flex-basis: 0%;
		flex-grow: 1;
		flex-shrink: 1;
		font-size: 14px;
		font-weight: 400;
		height: 38px;
		line-height: 21px;
		overflow: visible;
		position: relative;
		text-align: start;
		width: 224px;
		color: rgb(50, 50, 50);
	}
	
	.search-bar-input-group-append {
		background-color: rgba(0, 0, 0, 0);
		border: 0px none;
		cursor: pointer;
		display: flex;
		position: relative;
		z-index: 1;
	}
	
	.input-group-append-img {
		border: 0px none;
		margin: 7px 0px;
		vertical-align: middle;
	}
	
	#desktop-header > #right-section {
		align-items: center;
		display: flex;
		font-size: 16px;
		font-weight: 400;
		justify-content: flex-end;
		line-height: 24px;
		text-align: center;
	}
	
	#right-section > nav {
		display: block;
	}
	
	#right-section > nav > #nav-right-list {
		display: flex;
		list-style-type: disc;
	}
	
	.right-item-margin{
		margin-left: 16px;
	}
	
	.nav-right-section-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-size: 14px;
		font-weight: 400;
		justify-content: center;
		line-height: 21px;
		list-style-type: none;
		position: relative;
		text-align: center;
	}
	
	#right-section > button {
		align-items: flex-start;
		background-color: rgb(0, 199, 174);
		border: 0.666667px solid rgb(0, 199, 174);
		border-radius: 6px;
		color: rgb(255, 255, 255);
		cursor: pointer;
		display: block;
		font-size: 14px;
		font-weight: 500;
		line-height: 21px;
		margin-left: 16px;
		padding: 6.5px 0px;
		text-align: center;
		width: 80px;
	}
	
	#right-section > button > a {
		background-color: rgb(0,0,0,0);
		color: rgb(255, 255, 255);
		display: block;
		font-size: 14px;
		font-weight: 600;
		line-height: 21px;
		text-align: center;
	}
	
	/* 	-----------------------------------------------------------app-body------------------------------------------------------------------------------------------------------------ */
	
	#app > #app-body {
		display: block;
		flex-grow: 1;
		opacity: 1;
		position: relative;
		font-size: 16px;
		font-weight: 400;
		height: 100%;
		line-height: 24px;
		opacity: 1;
		text-align: left;
	}
	
	.portfolio-container {
		display: block;
		padding: 0px 15px;
		position: relative;
		width: 100%;
	}
	
	.portfolio-list {
		display: block;
		margin-top: 48px;
		margin-bottom: 80px;
		padding: 0px 16px;
		width: 1000px;
	}
	
	.portfolio-list-header {
		display: block;
		font-size: 34px;
		font-weight: 500;
		letter-spacing: -0.6px;
		line-height: 48px;
		text-align:left;
		margin-bottom: 40px;
	}
	
	.observer-container {
		display: block;
	}
	
	.portfolio-list-filter {
		column-gap: 6px;
		display: flex;
		margin-bottom: 49px;
		row-gap: 6px;
	}
	
	.service-area-filter {
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
	}
	
	.category-filter-btn {
		align-items: flex-start;
		border-radius: 19px;
		border: 1px solid rgb(225, 225, 225);
		background-color: rgba(0, 0, 0, 0);
		color: rgb(45, 45, 45);
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		height: 38px;
		letter-spacing: normal;
		line-height: 21px;
		overflow: visible;
		padding: 8px 34px 8px 16px;
		position: relative;
		text-align: center;
		text-indent: 0px;
		vertical-align: middle;
	}
	.category-filter-btn::after {
		background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMuNjY2IDhhLjcwOC43MDggMCAwMS45MjktMS4wNjRsLjA3My4wNjMgNS4zMzEgNS4zMzMgNS4zMzMtNS4zMzNhLjcwOC43MDggMCAwMS45My0uMDYzbC4wNzIuMDYzYS43MDguNzA4IDAgMDEuMDY0LjkzTDE2LjMzNCA4bC01LjgzMyA1LjgzM2EuNzA4LjcwOCAwIDAxLS45My4wNjRsLS4wNzItLjA2NEwzLjY2NiA4eiIgZmlsbD0iIzg4OCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
		background-size: contain;
		color: rgb(45, 45, 45);
		content: "";
		height: 14px;
		position: absolute;
		right: 16px;
		top: 12px;
		width: 14px;
	}
	
	.service-area-filter-btn {
		align-items: flex-start;
		border-radius: 19px;
		border: 1px solid rgb(225, 225, 225);
		background-color: rgba(0, 0, 0, 0);
		color: rgb(45, 45, 45);
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		height: 38px;
		letter-spacing: normal;
		line-height: 21px;
		overflow: visible;
		padding: 8px 34px 8px 16px;
		position: relative;
		text-align: center;
		text-indent: 0px;
		vertical-align: middle;
	}
	
	.service-area-filter-btn::after {
		background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMuNjY2IDhhLjcwOC43MDggMCAwMS45MjktMS4wNjRsLjA3My4wNjMgNS4zMzEgNS4zMzMgNS4zMzMtNS4zMzNhLjcwOC43MDggMCAwMS45My0uMDYzbC4wNzIuMDYzYS43MDguNzA4IDAgMDEuMDY0LjkzTDE2LjMzNCA4bC01LjgzMyA1LjgzM2EuNzA4LjcwOCAwIDAxLS45My4wNjRsLS4wNzItLjA2NEwzLjY2NiA4eiIgZmlsbD0iIzg4OCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
		background-size: contain;
		color: rgb(45, 45, 45);
		content: "";
		height: 14px;
		position: absolute;
		right: 16px;
		top: 12px;
		width: 14px;
	}
	
	#portfolio-wrap {
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
	}
	
	.portfolio-list-count {
		display: block;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: -0.5px;
		line-height: 20px;
		margin-bottom: 18px;
	}
	
	.portfolio-list-count > b {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: -0.5px;
		line-height: 20px;
	}
	
	.portfolio-list-item-wrap {
		display: flex;
		flex-wrap: wrap;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		list-style-type: disc;
		margin: -16px -8xp;
		text-align: left;
	}
	
	.col {
		display: flex;
		flex-basis: 25%;
		flex-direction: column;
		flex-grow: 0;
		flex-shrink: 0;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		list-style-type: none;
		max-width: 25%;
		padding: 16px 8px;
		position: relative;
		text-align: left;
		width: 100%;
	}
	
	.portfolio-list-item {
		background-color: rgba(0, 0, 0, 0);
		border-radius: 8px;
		border: 1px solid rgb(242, 242, 242);
		cursor: pointer;
		display: block;
		max-width: 100%;
		overflow: hidden;
		position: relative;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		list-style-type: none;
	}
	
	.portfolio-list-item-image {
		cursor: pointer;
		display: block;
		list-style-type: none;
		overflow: hidden;
		padding-bottom: 228px;
		position: relative;
	}
	
	.portfolio-list-item-image > img {
		height: 100%;
		object-fit: cover;
		overflow: clip;
		position: absolute;
		vertical-align: middle;
		width: 100%;
	}
	
	.portfolio-list-item-image::after {
		background-image:  linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 62%, rgba(0, 0, 0, 0.5));
		content: "";
		cursor: pointer;
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
	}
	
	.portfolio-list-item-text-wrap {
		bottom: 0px;
		color: rgb(255, 255, 255);
		cursor: pointer;
		display: block;
		font-size: 16px;
		font-weight: 400;
		left: 16px;
		line-height: 24px;
		position: absolute;
		right: 16px;
		text-align: left;
	}
	
	.portfolio-list-item-text-wrap > h3 {
		color: rgb(255, 255, 255);
		display: block;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: -0.5px;
		line-height: 20px;
		list-style-type: none;
		margin-bottom: 4px;
		overflow: hidden;
		text-align: left;
		text-overflow: ellipsis;
		text-wrap: nowrap;
		white-space-collapse: collapse;
	}
	
	.portfolio-list-item-text-wrap > p {
		color: rgb(255, 255, 255);
		cursor: pointer;
		display: block;
		font-size: 12px;
		font-weight: 400;
		line-height: 17px;
		list-style-type: none;
		margin-bottom: 16px;
		overflow: hidden;
		text-wrap: nowrap;
		white-space-collapse: collapse;
	}
	
	.portfolio-provider-info {
		align-items: center;
		background-color: rgba(0, 0, 0, 0);
		color: rgb(50, 50, 50);
		column-gap: 8px;
		cursor: pointer;
		display: flex;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		list-style-type: none;
		margin-top: 8px;
		row-gap: 8px;
	}
	
	.user-profile-picture {
		cursor: pointer;
		display: block;
		font-size: 16px;
		font-weight: 400;
		height: 20px;
		width: 20px;
		text-align: left;
		list-style-type: none;
		position: relative;
	}
	
	.user-profile-picture > div {
		background-color: rgb(225, 225, 225);
		background-position: 50%;
		border-radius: 50%;
		border: 1px solid rgb(225, 225, 225);
		cursor: pointer;
		display: block;
		height: 20px;
		width: 20px;
		overflow: hidden;
		position: relative;
		background-size: cover;
	}
	
	.portfolio-provider-info > span {
		cursor: pointer;
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
	}
	
	/*여기서부터 footer*/
	
	#app > #app-footer {
		background-color: rgb(255, 255, 255);
		border-top: 0.666667px solid rgb(225, 225, 225);
		color: rgb(50, 50, 50);
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		padding: 21px 0px 40px 0px;
		text-align: left;
		width: 100%;
	}
	
	#app > #app-footer > #footer-container {
		display: block;
		max-width: 970px;
		width: 970px;
	}
	
	#app > #app-footer > #footer-container > #col-content {
		display: inline-block;
		margin-bottom: 30px;
		vertical-align: top;
	}
	
	#col-content > #col-content-text {
		display: block;
		color: rgb(0, 199, 174);
		font-size: 20px;
		font-weight: 500;
		padding-bottom: 3px;
	}
	
	#col-content > #col-content-text-middle {
		display: block;
		font-size: 14px;
		font-weight: 400;
		padding-bottom: 30px;
		color: rgb(115, 115, 115);
	}
	
	.footer-download {
		background-color: rgb(0, 199, 174);
		border-radius: 20.5px;
		border: 0px none rgb(255, 255, 255);
		color: rgb(255, 255, 255);
		cursor: pointer;
		display: inline-block;
		font-size: 12px;
		font-weight: 500;
		height: 36px;
		line-height: 36px;
		padding: 0px 16px;
		text-align: center;
		text-decoration-color: rgb(255, 255, 255);
		text-decoration-line: none;
		text-decoration-style: solid;
		width: 136px; 
	}
	
	.footer-download-img {
		margin-top: -2px;
		padding-right: 6px;
		vertical-align: middle;
	}
	
	#footer-container > #col-content-right {
		display: block;
		float: right;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
	}
	
	#col-content-right > #content-list {
		list-style-type: disc;
	}
	
	.content-list {
		display: inline-block;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		list-style-type: none;
		min-width: 95px;
		padding-bottom: 15px;
		vertical-align: top;
		text-align: left;
	}
	
	.content-list-category {
		display: block;
		font-size: 14px;
		font-weight: 500;
		color: rgb(50, 50, 50);
		padding-bottom: 5px;
		position: relative;
		height: 25px;
	}
	
	.content-list-text {
		background-color: rgba(0, 0, 0, 0);
		color: rgb(115, 115, 115);
		cursor: pointer;
		font-size: 14px;
		font-weight: 400;
		padding-bottom: 5px;
		position: relative;
		text-decoration-color: rgb(115, 115, 115);
		text-decoration-line: none;
		text-decoration-style: solid;
		display: block;
		height: 25px;
	}
	
	#app > #app-footer > #footer-container-row {
		color: rgb(50, 50, 50);
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		width: 970px;
		text-align: left;
		padding-top: 20px;
	}
	
	#footer-container-row > #footer-container-row-term {
		align-items: flex-end;
		display: flex;
		width: 970px;
	}
	
	.row-term-content {
		flex-basis: 0%;
		flex-grow: 1;
		flex-shrink: 1;
		vertical-align: top;
	}
	
	.row-term-list {
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
		padding: 0px 96px 8px 0px;
		text-align: left;
	}
	
	.row-term-list-terms-group {
		font-size: 16px;
		font-weight: 4000;
		line-height: 18px;
		text-align: left;
		display: inline-flex;
	}
	
	.terms-text {
		background-color: rgba(0, 0, 0, 0);
		color: rgb(115, 115, 115);
		cursor: pointer;
		font-size: 12px;
		font-weight: 500;
		text-align: left;
		text-decoration-color: rgb(115, 115, 115);
		text-decoration-line: none;
		text-decoration-style: solid;
	}
	
	.terms-text-span {
		color: rgb(115, 115, 115);
		font-size: 12px;
		font-weight: 400;
		text-align: left;
		display: inline-block;
		width: 686px;
	}
	
	.row-term-content-guide {
		list-style-type: disc;
		line-height: 24px;
	}
	
	.content-guide-text {
		font-size: 12px;
		font-weight: 400;
		list-style-type: none;
		color: rgb(115, 115, 115);
		height: 17.33px;
	}
	
	.row-term-content-badge {
		float: right;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		padding-bottom: 40px;
		text-align: left;
		vertical-align: top;
		width: 188px;
		height: 68.323px;
	}
	
	.footer-badge {
		background-color: rgba(0, 0, 0, 0);
		cursor: pointer;
		padding-right: 6px;
		vertical-align: top;
	}
		
	.footer-badge-img {
		vertical-align: middle;
		width: 28px;
		height: 28px;
	}
	